[2020-12-23 22:37] kaijagahm commented on #106
12/23 Emailed Ashley about the #7 question and about OB_BoatLaunch_20180723_2130_CR_fishscapesCreel.Interview.20180910_1

[2020-12-23 22:45] kaijagahm commented on #89
Realizing after seeing Randi's work in a recent database update that this is almost always going to be the writingUpdatingDatabaseTables script, for any routine db updates.

That, combined with the difficulty of backfilling this, make me think that we're going to leave a lot of NA's. That's okay! But I think I'm going to go about it the opposite way--find Alex/Katie/Randi/etc.'s old scripts, check

[2020-12-24 17:42] kaijagahm commented on #106
Ashley replied:
FD_WholeShore_20180619_2130_CR_fishscapesCreel.Interview.20180910_7 is an interview that was conducted at an angler's private dock, which is why the location is WholeShore(line) and not BoatLaunch. The 7 is left over from when the location was WholeShoreline. I'm going to change it to 1, since the numbers should go by location (I think--emailed Ashley to double check that that's ri

[2020-12-24 18:12] kaijagahm commented on #106
Corrections made; ready for db update.

[2020-12-24 20:13] kaijagahm commented on #100
Scheduled email to Chris about this for Monday.

[2020-12-24 20:42] kaijagahm commented on #89
In creating this doc, I discovered the following problems:
- OTO_sagittae_fix.20200628 should actually be OTO_sagittae_fix.20200602.

[2020-12-24 21:44] kaijagahm commented on #22
Was progressing nicely through creating a meta document for this database update, and then I ran across an error in FISH_SAMPLES, caused by a stray case_when() statement in Randi's code from the last update, that caused most of the updateID's in FISH_SAMPLES to revert to NA.

Finalizing this issue, and creating the meta script for the database update, is on hold until I can talk to Randi about it.

[2020-12-28 14:25] kaijagahm commented on #60
Next steps on this issue:
- Decide whether to deal with the tally marks here, or deal with them wholesale when we check the data sheets.
- Do a final check through FISH_SAMPLES to make sure that the times and dates all match up, and that there are no negative times left.
- After this, can close this issue and turn our attention to #51.

[2020-12-28 14:28] kaijagahm commented on #37
Steps to take here:
1. Check the current version of the database to see if what we have now matches what Alex wrote here.
2. If not, investigate discrepancies. Are there any rows that I added a while back that really should not have been added according to AR?
3. What about the photo archive?

[2020-12-28 15:29] kaijagahm opened #108 "creelHours definition"
Just making an issue for this so I don't forget to make the change:
To make the table blurb for CREEL_SAMPLES, I asked Randi what creelHours meant, and she sent Ashley an email. When Ashley gets back to us, remember to update the dbTableDescriptions.Rmd file.

[2020-12-28 21:26] kaijagahm commented on #89
Ok, in the [google doc](https://docs.google.com/spreadsheets/d/1BChKUFkkk2LKMV3R8EXBA91pl0ZEvJu2bDCxWz0fBMk/edit#gid=0), I have filled in the source code for almost all of my *own* fixes.

I'm having a really hard time finding any code for previous fixes and updates, though, in part because I can't really search--I don't think Box allows for searching through the contents of R files without downlo

[2020-12-29 17:13] ctsolomon commented on #100
I can't find any data sheets from CR in the 2016 bluegill binder. Also, CR does not appear in the list of lakes that the crew printed on the backs of these data sheets, which makes me think it may not have been in the set of lakes sampled for the 2016 bluegill survey (although it was for Nikki's ~2013 survey). Also, some of those sample dates (especially the July one) seem kinda late for the blueg

[2020-12-29 17:14] ctsolomon commented on #100
Oh - and yes to the scans of the data sheets, I am going to get someone at Cary moving on that.

[2020-12-29 19:54] kaijagahm commented on #104
Fixed the ID's described in the previous comment, which should have taken care of all of the 2018 duplicate pitApply numbers. But it didn't. The ones left fall into three categories.

Next steps after this:
1. Look into other years besides 2018
2. Check pitRecapture for duplicate numbers (but be careful, because these could be legit)
2. Check floyApply for duplicate numbers
3. Check floyRecapture

[2020-12-29 20:07] kaijagahm commented on #104
@Randinotte here's a list of the data sheets that I need checked, whenever you can get to it. What I'm interested in for these are the pit tag numbers: all of these should have a pit tag that was applied, as opposed to being recorded as a recap (though of course let me know if that's not the case).

It might be easier for you to just take photos of the data sheets, since there are rather a lot of

[2020-12-29 20:21] kaijagahm commented on #104
I decided to peek ahead and see about the state of duplicate tag numbers in years other than 2018. Note that I have not yet taken a look at pitRecapture, floyApply, or floyRecapture. Just moving forward with pitApply duplicates in non-2018 years.

Note that there may be some singleton rows in here; that's because some of the duplicates span years (i.e. one fish is in 2017, another in 2018) and her

[2020-12-30 20:03] kaijagahm commented on #100
@ctsolomon looks like you're right about the metadataID being wrong on these. FISH_INFO doesn't give us much information, but I checked FISH_SAMPLES and the `sampleGroup` column is "UNDERC_monitoring" for all three of these sampleID's. If they were actually from the 2016 gonad survey, we'd expect `sampleGroup` to be 'BLGGonadSurvey_2016'.

Where do we go from here? Would the data sheets for 2016 U

[2020-12-30 20:51] kaijagahm opened #109 "FISH_INFO tally marks on fish data sheets"
@ctsolomon found tally marks on one of the paper data sheets he dug up for #60. I conferred with @cdassow, who confirmed that these tally marks corresponded to fish that were caught in that sample but were not fully measured/processed, just ID'ed and tallied. *Note: @cdassow if you get this notification, no need to do anything just yet. We'll loop you in once we have the data sheets scanned.*

The

[2020-12-30 22:48] kaijagahm commented on #60
I've made pretty good progress on this issue (see to-do list in the comment above). Currently working on doing a last check through the samples to make sure everything is resolved.

I've run across a few more time discrepancy issues (this time between the sampleID and the dateTimeSample, which I guess I forgot to check last time) that I'll need to check data sheets on. They are:

- KT_FN3_20170628

[2020-12-31 21:07] kaijagahm commented on #65
I think the next step here is to look through the files sent by Stephen and see if I can work out how to do the ksat calculations.

[2020-12-31 22:48] kaijagahm opened #110 "BACTERIAL_PRODUCTION_PELAGIC standardize capitalization"
This is a tiny fix that can be performed in one of the meta scripts.

Column "BacterialProduction_ugC_L_h" should be "bacterialProduction_ugC_L_h", in keeping with database capitalization conventions.

[2021-01-01 14:40] kaijagahm commented on #37
Okay, I checked the database and the photo archive.

To recap:

**2017-06-05**
The database matches what Alex wrote: no sample for EL_E_1 or for EL_E_3, EL_N_3, or EL_SE_3. But the photo archive doesn't match. Photo archive has no photo for EL_E_1 or EL_E_3, which matches what Alex said. But it *does* have a photo for EL_N_3 and EL_SE_3, and there's also an unlabeled image that has some bugs.

**2

[2021-01-01 14:50] kaijagahm opened #111 "File "MFE Database Things To Do""
I found [this file](https://app.box.com/file/45510587653) in the Box metadata folder, with a list of database-related tasks. I wonder if any/all of these got finished. Some of them look like we could tackle them now. Others refer to files from people's emails that I don't think we have access to.

[2021-01-01 16:28] kaijagahm opened #112 "CREEL tables metadataID"
Several and/or most of the CREEL tables seem to be missing a metadataID column. Was this intentional?

There's a metadataID column in CREEL_SAMPLES, but not in most of the others.

[2021-01-04 16:07] kaijagahm commented on #65
Looked through the Maidment chapter, attached here:
[Maidment1992_GroundwaterFlow.pdf](https://github.com/MFEh2o/db/files/5765559/Maidment1992_GroundwaterFlow.pdf)

The equation in question is:
![Screen Shot 2021-01-04 at 10 53 30](https://user-images.githubusercontent.com/37053323/103553222-25612700-4e7b-11eb-992a-41760663bf01.png)

And a corresponding diagram is:
![Screen Shot 2021-01-04 at 10 5

[2021-01-04 17:03] Randinotte commented on #104
@kaijagahm Here's the list of duplicate fishIDs that I checked today. A few were typos, some were written even on the datasheets as duplicates, and one case (highlighted in green) is particularly strange. There are a few notes at the bottom of the spreadsheet. "Photo" number in the spreadsheet corresponds to the page number in the group's PDF. Note that the CS photos are out of chronological order

[2021-01-04 18:03] kaijagahm commented on #104
Thanks, @Randinotte!
Also, I'm giggling at how you pre-emptively included a column for my comments. You know me so well...

[2021-01-04 18:57] Randinotte commented on #109
I'm open to working through the datasheets as @ctsolomon suggested. Also looking into whether our building/department/library has a bulk scanner for the datasheets stored here. A girl can dream...

[2021-01-04 19:34] Randinotte commented on #100
With @kaijagahm's heads up about the UNDERC_monitoring sampleGroup I found the datasheets in the 2016 UNDERC folder, monitoring tab. The first one was a typo (386 instead of 3886g), but the other two are correct and match the datasheet. I'm not sure how far we want to track this down, but two other LMB were commented "exceeds board" so maybe the CR fish are just chunky?

CR_FN8_20160719_0830_FN_Go

[2021-01-04 19:42] cdassow commented on #100
Sounds good Randi, CR fish ARE chunky (Camille is fast becoming the expert on that). Their comment though makes it seem like they were too long and not too heavy? 26 mm is not big enough to exceed any of the boards we have, as far as I know which makes me wonder if the lengths are wrong and the weights are fine? I don't know how we'd figure that out though.

[2021-01-04 19:45] Randinotte commented on #100
@cdassow It's possible that it says "exceeds bound," as the handwriting is a little unclear. The comment is in the weight column though, not in the length column. Maybe "exceeds bound" makes more sense then.

[2021-01-04 19:48] Randinotte commented on #100
@cdassow, sorry for another notification, but another question- when did the fish entry tool come about? Did it exist in 2016 in order to incorrectly assign metadataIDs? If it wasn't around, then I'll look for hand-entry/excel causes.

[2021-01-04 19:49] cdassow commented on #100
No worries, it came in 2019

[2021-01-04 20:20] ctsolomon commented on #100
@cdassow, would the weights make sense if the lengths on those two fish were actually recorded in cm rather than mm?

[2021-01-04 21:24] ctsolomon commented on #37
Yes that seems fine. Let's talk tomorrow at meeting about how to get Amaryllis and me started on this.

[2021-01-04 21:28] kaijagahm commented on #104
Randi and I ran into a really thorny issue with two tag numbers today. The numbers are 900F67000093081 and 900F67000093018.

Each of these numbers appear twice in the database. Here's a photo that summarizes the situation:
![weirdFishProblem](https://user-images.githubusercontent.com/37053323/103581011-2c9f2980-4ea9-11eb-96fd-d38422b15174.jpg)

Clearly, there are several errors here.
1. It doesn't

[2021-01-04 21:41] kaijagahm commented on #37
Sounds good. That's already on the agenda, so we'll talk bugs for sure.

[2021-01-04 21:50] kaijagahm commented on #99
Inspired by #104 and the weird fish problem:
- no duplicates in pitApply
- no duplicates in floyApply
- if a tag number appears in pitRecapture, it has to have previously appeared in pitApply [* unless someone didn't write it down? So what's the contingency here... maybe if it hasn't appeared before, you add a comment that says it hasn't appeared before?]
- if a tag number appears in floyRecapture

[2021-01-04 21:51] kaijagahm commented on #99
General note: I think a good way to aggregate all these check functions would be to write a package. I have done this once now and feel relatively confident in my ability to get a simple package off the ground.

In response to @Randinotte's points above about the formatting being different between different tables: I think this would be relatively straightforward to tackle with some extra function

[2021-01-04 22:00] cdassow commented on #100
Yes they would make sense, and measuring to a fraction of a millimeter does seem unrealistic. Based on the comments that Randi saw it maybe seemed more like a weight issue but I think it could easily be a length problem instead

[2021-01-04 22:01] kaijagahm commented on #108
creelHours is just hours--difference between set and sample times.

This is vs. anglerHours, where the time is multiplied by the number of anglers.

Next to do here: make a note in UNITS to explain the different options. Also update the dbTableDescriptions doc and re-knit.

[2021-01-04 22:04] kaijagahm commented on #89
@Randinotte has some scripts, e.g. from Katie, which she can upload to Box for me to look through. But told me to not expect too much--many changes many not be reproducible. Changes were often made by modifying a script and overwriting the previous version, instead of creating a new version.

[2021-01-04 22:05] kaijagahm commented on #104
Broadly, the game plan here is:
1. Check for, and correct, any further duplicates in 2018 except for the unresolvable ones described above.
2. Look into duplicates in the floyApply column
3. Get started on pitApply and floyApply from another year.
4. Rinse and repeat.
5. After *Apply columns are dealt with, think about how to comb through the recapture columns.

[2021-01-04 22:07] kaijagahm commented on #71
We checked the other ZOOPS* tables, and it looks like the only one where the 5/17 metadataID appears is ZOOPS_LENGTHS. This is weird, because it looks like if the undergrads measured the same zoops with a different protocol, there's no record of them having subsampled.

We're basically ready to remove those duplicate samples from the database, since there's no attached protocol or subsample inform

[2021-01-04 22:11] kaijagahm commented on #112
This is another philosophy question.
When Randi made the recent changes to the CREEL table formats, she had followed the lead of the existing tables when it came to deciding whether to use a metadataID column or not.

The rationale for not including the column is that for many creel tables, there's no separation between samples and data metadataID's. So you're just introducing a redundant column.

[2021-01-04 22:13] kaijagahm opened #113 "missing updateID's in FISH_SAMPLES and UNITS"
From an email I sent Randi on 12/28/2020:

[2021-01-04 22:14] kaijagahm commented on #113
@Randinotte and I are going to go over this in a meeting right after the checkin tomorrow morning (1/5).

Randi also discovered a similar error in the UNITS table. This was almost certainly introduced by me in one of my meta scripts. Ugh.

I'm starting to think I should write a version of case_when where the default behavior is not to fill everything with NA.

[2021-01-05 15:14] ctsolomon commented on #60
Re query in previous post on KT_FN3_20170628_1015_FN_GonadSurvey.20170915: On the data sheet the dateTimeSample is recorded as 2017-06-28 1015.

[2021-01-05 15:30] Randinotte commented on #100
From Tuesday meeting 1/5/21:
I'm going to regress length ~ weight by species and project to look for outliers, presuming that monitoring may be more prone to errors. As a note- only the one datasheet from 2016 fish had the "cm not mm" problem, BUT it seems to be all of them on the sheet:

(as on datasheet)

CR_FN10_20160613_1050_FN_GonadSurvey.20130509: NFC
CR_FN6_20160613_1050_FN_GonadSurvey.2013

[2021-01-05 15:42] kaijagahm opened #114 "Un-entered fish data sheet"
Data sheet attached. It has a sticky note from Alex saying it wasn't entered.

Steps:
1. Check that it actually wasn't entered
2. Ask Alex if there was a reason why.
3. If the answer to 2) is no, then add it to the database.
![notEnteredFishDataSheet](https://user-images.githubusercontent.com/37053323/103666462-ac2d0700-4f42-11eb-967e-0dd350b1492b.jpg)

[2021-01-05 15:49] kaijagahm commented on #114
Double-checked the database, and indeed, these data are not entered.

[2021-01-05 15:51] kaijagahm commented on #114
Emailed Alex, 2021-01-05.

[2021-01-05 16:28] kaijagahm commented on #40
Check https://app.box.com/file/730074958857 (DatabaseManagementInstructions_UsingR_20200526.docx). But at the 1/5/2021 meeting, we decided that we're going to push sensor database updates to the back burner in favor of continuing to work on main database issues, and in favor of big-picture database tools like fish entry and checks.

[2021-01-05 20:33] Randinotte commented on #99
@kaijagahm I have an argument fish = t/f but it feels a little clunky. But, might be a starting place when we're considering this. I know it's in recreateSampleID(), maybe some others.

[2021-01-05 21:07] Randinotte commented on #113
Pushed db update 4.2.1 "(Hydro)xychloroquine" today, which resolved updateID errors in FISH_SAMPLES and UNITS. I don't think I can close the issue, but @kaijagahm can.

[2021-01-05 21:49] #113 closed

[2021-01-05 21:50] kaijagahm commented on #114
Alex confirms that this should have been entered, he just didn't get around to it.

Next to do: enter these data.

[2021-01-05 21:50] kaijagahm commented on #109
Scanning begins tomorrow for the datasheets that Chris has. They'll be labeled with the sampleID (excluding the metadataID portion).

[2021-01-06 20:34] kaijagahm commented on #114
I'll make this a separate update (4.3.1), since 4.3.0 has a bunch of other things relating to the fish tables that can't be combined with this.

[2021-01-07 14:12] kaijagahm commented on #60
Next steps on this issue:
- Can't finalize until I've resolved the missing updateID's issue--will talk about that with Randi on Monday.
- ~Add a comment to the mis-numbered fishID's in KT_FN3_20160602_0910_FN_GonadSurvey.20160623.~
- ~Decide whether to deal with the tally marks here, or deal with them wholesale when we check the data sheets.~ (EDIT: decided on a separate issue: #109.)
- ~Do a fina

[2021-01-07 20:59] kaijagahm commented on #99
I wrote some check functions for date and time checking (dateTimeSample, dateTimeSet, sampleID), as well as some helpers (check whether something is a data frame; check whether columns exist in a given data frame). They're in [utilities](https://github.com/MFEh2o/utilities), in the 'checks.R' script. Documented minimally in the README.

[2021-01-07 21:00] kaijagahm commented on #99
@Randinotte would you consider uploading some of the functions you've written to the [utilities](https://github.com/MFEh2o/utilities) repo? I might start aggregating them into a package, because that will help with documentation and consistency, and it really won't take very long--writing the functions is the bulk of the work.

[2021-01-07 21:30] Randinotte commented on #99
Sent the script via slack in our direct messages because I didn't have permission to upload to the utilities repo.

[2021-01-07 21:37] kaijagahm commented on #99
Randi's functions have been added to the utilities repo.

[2021-01-07 22:08] kaijagahm commented on #60
@Randinotte a few more data sheet checks that I missed the first time around (and have now caught, thanks to the nifty new check functions!)

There's no mystery here--I know exactly what's going on. All of the rows in this text file rolled over midnight, but the date is still the same for set and sample. So I just need to know which date is the correct one (i.e. do I change dateSample, dateTimeSam

[2021-01-07 22:17] kaijagahm commented on #60
Also found a bunch of rows with the same dateTimeSet and dateTimeSample. Emailed Chris, Stuart, Randi about whether and how to dig into that.

[2021-01-08 17:24] kaijagahm commented on #60
Opted to dig into it: Randi will take a look at some data sheets.
@Randinotte here are the 52 rows with the same dateTimeSample and dateTimeSet that have actual non-00:00:00 times.

[sameTime.txt](https://github.com/MFEh2o/db/files/5788528/sameTime.txt)

[2021-01-08 18:13] Randinotte commented on #60
A question while I'm working- In the midnightRollovers.txt the updateID is "NA". Is that because it's in process, or should we have values there?

Here is a .txt file of the checked dates with comments. Some of the older ones just don't seem to have good dates recorded, so that's probably why they have "00:00" as times. Others were human errors writing the wrong date after the midnight mark.

[mid

[2021-01-08 22:09] kaijagahm commented on #60
Thanks, Randi!

Good question about the NA's. I think it's an error in the script somewhere (because I checked, and I definitely do have the latest version of the database downloaded). I had noticed this when I wrote out the file for you, so it's on my list of things to dig into. Thanks for pointing it out.

[2021-01-11 18:14] kaijagahm opened #115 "FISH_SAMPLES duplicate sampleID's"
There are two rows in FISH_SAMPLES that have the same sampleID.

This needs to be fixed. Also need to write a check function for this (#99).

[2021-01-11 19:02] kaijagahm commented on #60
Stalled in final checks because of 00:00/midnight errors, discovered with the new `sameTime()` check function. Will discuss tomorrow in meeting and decide how to proceed.

[2021-01-11 19:11] kaijagahm commented on #110
Script complete, just need to write csv file with correct date. Ready for update 4.3.0.

[2021-01-11 21:32] kaijagahm opened #116 "ZOOPS add 2020 data"
This is just part of the routine 2020 database update.
Randi has sent me files containing the new rows to be added to each table.

Note: I think I'll do this in the same script as removing the 5/17 rows in #71.

[2021-01-11 22:07] kaijagahm commented on #115
Mistake--the duplicate was introduced somewhere in the script for #60. I've made a note there to fix it before finalizing that issue. If you just pull the table directly from the database, there aren't any duplicates.

[2021-01-11 22:07] #115 closed

[2021-01-11 22:09] kaijagahm commented on #71
Removed duplicate samples from the database in the gh71 script. The version of the metadata protocol on Box is already the most recent one.

[2021-01-12 14:40] kaijagahm commented on #88
@ctsolomon @aadey1 I misremembered--the bug counts spreadsheet that I put together was already here, not in an email. See just above (previous comment).

Amaryllis, I'm assuming you know how to access the BENTHIC_INVERTS photo archive in Box; let me know if you have trouble finding or navigating that.

Unfortunately, I didn't save my raw number comparisons between the bugs from the database vs the

[2021-01-12 14:45] aadey1 commented on #88
Thank you, Kaija!

I really appreciate your help/guidance with this! I think that makes sense
for why to do each individually and by date. I have accessed the bug photos
in the past, but will let you know if I forget where they are (an all too
likely possibility haha).

I will let you and Chris know if I encounter any issues.

Thanks again, and see you next week via zoom!
Amaryllis

On Tue, Jan 12

[2021-01-12 15:45] Randinotte commented on #60
RE: these samples that had the same dateTimeSet and dateTimeSample, here's a generalized break down and the annotated check .txt file.

(Groups correspond to column commentGroup in .txt file)

Group 1 (n=11): Long Lake MarkRecap.20120228 samples (AN and BE) where the db has only the dateTimeSet but the datasheet has both. Typically in Randi_comments as "on datasheet, matches math" meaning that the

[2021-01-12 16:17] kaijagahm commented on #60
@Randinotte Thanks again for catching this. It was--you guessed it!--a rogue case_when() statement in my own code. UGH.

[2021-01-12 16:39] Randinotte commented on #60
@kaijagahm is there conceivably a check function that would read through the script and check for unfinished case_when()'s?

[2021-01-12 16:41] Randinotte commented on #99
An idea- a way to check a script for unfinished case_when() ... **TRUE ~** xyz

[2021-01-12 22:53] kaijagahm commented on #106
Closed with v 3.4.0

[2021-01-12 22:53] #106 closed

[2021-01-12 22:53] kaijagahm commented on #116
Closed with v 4.3.0

[2021-01-12 22:53] #116 closed

[2021-01-12 22:53] kaijagahm commented on #110
Closed with v 4.3.0

[2021-01-12 22:54] #110 closed

[2021-01-12 22:54] kaijagahm commented on #108
Closed with v 4.3.0

[2021-01-12 22:54] #108 closed

[2021-01-12 22:54] kaijagahm commented on #103
Closed with v 4.3.0

[2021-01-12 22:54] #103 closed

[2021-01-12 22:54] kaijagahm commented on #90
Closed with v 4.3.0

[2021-01-12 22:54] #90 closed

[2021-01-12 22:55] kaijagahm commented on #71
Closed with v 4.3.0

[2021-01-12 22:55] #71 closed

[2021-01-12 22:55] kaijagahm commented on #60
Closed with v 4.3.0

[2021-01-12 22:55] #60 closed

[2021-01-18 20:40] kaijagahm commented on #74
Completed some more blurbs. For all the others, I filled in minimal information sourced from the Figshare dbSchema (details version), or just pulled a list of the table variables.

The following list shows which tables still need their blurbs fleshed out:
[1] "BACTERIAL_PRODUCTION_BENTHIC"    "BACTERIAL_PRODUCTION_PELAGIC"
 [3] ~"BENTHIC_INVERTS"~                ~"BENTHIC_INVERT_SAMPLES"~
 [5] ~"C

[2021-01-18 20:43] kaijagahm commented on #87
Have now updated the dbSchema (keys version) to include the new CREEL tables, and to accommodate a few more changes to the table structure (e.g. WATER_CHEM). Due to the absolutely horrible nature of trying to update the database schema diagram to fit all the table descriptions, I've opted instead to stick the short descriptions we had into the dbTableDescriptions.pdf, which I will upload to figsha

[2021-01-19 16:08] kaijagahm commented on #104
Okay, these are basically all going to need to have data sheets checked.

@Randinotte here are text files containing repeat pit and floy tags
[moreDupTagIDsFloy.txt](https://github.com/MFEh2o/db/files/5837125/moreDupTagIDsFloy.txt)
[moreDupTagIDsPit.txt](https://github.com/MFEh2o/db/files/5837126/moreDupTagIDsPit.txt)

[2021-01-19 16:19] kaijagahm commented on #88
@aadey1 @ctsolomon I checked through the dates listed above. Here's the breakdown of "no problems (i.e. not off by more than one or two bugs" vs. "still problem(s) remaining"

2016-05-24: no problems
2017-05-10: problem remaining
2017-06-05: problem remaining
2018-05-14: no problems
2018-06-11: problem remaining
2018-06-25: problem remaining
2018-07-23: problem remaining
2018-08-06: no problems

I

[2021-01-22 17:15] kaijagahm commented on #99
Talked with Stuart today, 22 Jan 2021:
- No, it was not a deliberate decision to remove database constraints. Those were probably imposed in Access, and they didn't know how to recreate them in SQLite.
- Can move toward implementing those constraints, one at a time.

[2021-01-22 18:50] Randinotte commented on #104
Here is the first spreadsheet of checked fish tag numbers. The tags in red (4 pairs of duplicates) are those where both duplicates are clearly written as that exact tag number and both as pitApply. I therefore assume that the second instance would be moved to tagRecap. The green pair is the set with a sticky note, still waiting to hear back from Amaryllis in case she knows what it means.

[moreDup

[2021-01-22 19:37] kaijagahm commented on #99
Created [this google sheet](https://docs.google.com/spreadsheets/d/18DPI5_C9fKgQz1YT6WzAhnISid9zYYCIb1yfUWreRnc/edit?usp=sharing) to keep track of some of the fixes we described above. Added a sheet to it to track each table's primary keys.

Next, need to have someone check that these are the correct primary keys. Also need to check each primary key to see if it has duplicates.

Then, maybe do the

[2021-01-22 19:39] kaijagahm commented on #104
This is great, thanks @Randinotte! I'm glad to see that most of these were at least somewhat resolvable.

[2021-01-25 13:27] kaijagahm commented on #107
We decided that the best thing to do for now is use an excel document and read it in with `openxlsx` or a similar package.

I will make a note in the general database documentation to be on the lookout for this.

[2021-01-25 13:27] #107 closed

[2021-01-25 13:28] kaijagahm commented on #75
Following #107 above: make sure to mention the digit truncation issue in the documentation.

[2021-01-25 13:33] kaijagahm commented on #112
After reading the general database documentation, it looks like every table really should have a metadataID column. The update anomaly stuff I mentioned above is going to be true of any of the current tables, and in general we've tended to side with being okay with that in the rest of the database. So I think that for consistency it's best to go ahead and add those metadataID columns everywhere th

[2021-01-25 13:40] kaijagahm commented on #88
Next to do: pull together "a summary by year of what proportion of samples were checked and what proportion had problems" (-CTS)

[2021-01-25 14:12] kaijagahm commented on #37
NTS: remember to include this issue when talking about #88.

[2021-01-25 14:15] kaijagahm commented on #28
This might be low-hanging fruit to work on at the 1/26 meeting.

[2021-01-26 14:26] joneslabND commented on #88
A couple ideas for avoiding these issues with data entry moving forward. Would be good to capture these in metadata or protocols moving forward...
*put label from vial in photo
*script for updating bug files could check for all samples (have to deal with NFK for bugs)
*keep doing photo number recording in in-season counting sheet

[2021-01-26 15:46] kaijagahm commented on #99
As of 1/26 meeting: Stuart and Chris are going to check that I have the primary keys correct.

Stuart brought up the question of error messages from SQL. When you enforce a constraint and it fails, e.g. because there are non-unique values in a column that's supposed to be a primary key, what does SQL tell you?

I tried this out by copying the currentDB folder and adding a PRIMARY KEY constraint to

[2021-01-26 20:32] Randinotte commented on #99
Jogged my memory so I'll add- @kaijagahm remember that weird csv that had a problem with delimiters that that threw off the number of columns in the tables and made errors in the formation of the .db file? It gave a similarly formatted list of rows with an error message along the lines of "TABLE_NAME.txt:##: number of rows. Expected ## number of rows and had ##". Thought I would pass that on in ca

[2021-01-28 21:17] kaijagahm commented on #111
I did a first pass through this file and made some comments. Also passed it to @Randinotte, who will look at it when she has time (no rush). Aiming to bring this up at the next meeting: maybe we could look at it in real time and determine which, if any, of these issues should be added to Github as "issues".

[2021-01-28 22:05] kaijagahm commented on #112
I added metadataID columns to all the tables that needed it. Also fixed one row in CREEL_TRAILER_SAMPLES that had an incorrect metadataID. Checked to make sure all metadataID's in all these tables already appear in METADATA (they do).

Next will be to add rows to UNITS and UPDATE_METADATA, which I will do in the meta script.

[2021-01-28 22:46] kaijagahm commented on #75
Made quite a bit of progress on this. Still need to mention the digit truncation issue and resolve a couple more comments. Then will run this by other people and upload it as a new version.

[2021-01-29 16:43] kaijagahm commented on #75
Just waiting for one paragraph from Randi, and then I can call this one done.

[2021-01-29 18:05] kaijagahm commented on #104
Finished resolving these pit tag numbers. Need to still do floys, after Randi has gotten back to me with the checked datasheets. Double-checked to make sure all the pit tag numbers actually got resolved.

[2021-02-01 15:13] kaijagahm commented on #75
Randi added info. I'm closing this--uploaded new version to Box on 2/1/2021.

[2021-02-01 15:13] #75 closed

[2021-02-03 20:08] kaijagahm opened #117 "lipidID inconsistencies between LIPID_EXTRACTIONS and LIPID_SAMPLES"
`lipidID`s are spelled with a lowercase 'l' in LIPID_EXTRACTIONS, but with an uppercase 'L' in LIPID_SAMPLES. Will need to fix this in order for the foreign key constraint to work.

[2021-02-08 14:36] kaijagahm commented on #104
Resolved floys. Double checked that both pits and floys are resolved. Am not going to check the recap columns because it will be too hard to know if they're right or not: e.g. duplicates are expected. We'd end up checking everything manually.

[2021-02-08 14:37] kaijagahm commented on #3
@Randinotte just to double check, these still haven't been counted, have they?

[2021-02-08 14:52] cdassow commented on #104
This sounds great @kaijagahm! One thing you could consider if you have the time is looking at the extreme recaps, I agree checking all of them isn't feasible unless we want to sink a lot of time into going through paper data sheets. Extreme cases that might be identified with a bit of coding would be fish that are recapped really far apart or really close in time.  A threshold for what's 'really f

[2021-02-08 15:06] kaijagahm commented on #5
Okay, that comment was from a while ago when I didn't know as much as I do now about how the tables were structured.

I read over the paper, and it looks like the data would be in ZOOPS_ABUND_BIOMASS. But I pulled that table into R and filtered such that `taxa == "chaoborus"`, and sure enough: the earliest Chaoborus abundance/biomass data is from 2015. So we're missing a bunch of old data.

I'm go

[2021-02-08 15:59] joneslabND commented on #5
Patrick Kelly had/has these data. Katie Baglini (an undergrad) was involved early on, but wouldn't have all of those data.

[2021-02-09 15:33] kaijagahm commented on #5
Stuart will bug Patrick about this.

[2021-02-10 15:55] kaijagahm opened #118 "GC table cleanup"
Historically, columns in GC have meant different things than they do now.
We should, at some point, try to clean up this table and assign a primary key, or at least have consistent documentation for which columns mean what.

Here are some rather scattered notes from a meeting I had with Randi on 10 February 2021 about this table.

GC process:
- Take water sample in a tube
- Suck some out with a sy

[2021-02-10 15:55] kaijagahm commented on #118
Next: Chat with Brittni. Go through the table and try to classify the 587 remaining rows by type of problem.

[2021-02-10 22:07] kaijagahm opened #119 "Update MOLECULAR_SAMPLE"
According to Stuart on 2/10/2021, the MOLECULAR_SAMPLE table has not been updated in a really long time. We have almost all the information needed to update it: water logs are stored as CSV's on Box, Randi says. We don't have sediment logs for cases when sediment samples were DNA-analyzed, but that's okay--we'll update to the best of our ability.

Note that we have also decided to remove MOLECULAR

[2021-02-10 22:14] kaijagahm commented on #109
Scanning is complete! Files have been uploaded to Box: stored in MFE/Archives/Datasheet photo archive/Cary fish data sheets, and then by year (2016, 2017, 2018).

Note that there are definitely going to be some errors in file names. I already corrected a few that had the wrong year. I need to do more corrections, but I'm going to wait to do that until someone has looked through these data sheets f

[2021-02-12 19:41] kaijagahm commented on #88
Updates:
- Amaryllis finished checking the bugs. She noted when there were large discrepancies between the database and photo counts, when there were missing photos, when bugs in photos were missing from the database, when bugs were mis-labeled, etc.
- She sent me the attached excel file (I'm attaching the most recent version, with a few of my edits, as of the afternoon of 12 Feb 2020)
[amaryllisS

[2021-02-15 14:46] kaijagahm commented on #104
Thanks, Colin: I'm going to make your suggestion into a new issue so as to avoid going down a rabbit hole with this one.

This issue as it stands is ready for db update.

[2021-02-15 14:47] kaijagahm opened #120 "FISH_INFO validate fish tag recaps"
This sounds great @kaijagahm! One thing you could consider if you have the time is looking at the extreme recaps, I agree checking all of them isn't feasible unless we want to sink a lot of time into going through paper data sheets. Extreme cases that might be identified with a bit of coding would be fish that are recapped really far apart or really close in time.  A threshold for what's 'really f

[2021-02-15 20:21] kaijagahm opened #121 "BLG project: FISH_MORPHOMETRICS bad lakeID's"
In FISH_MORPHOMETRICS, the fish that are labeled as being from RB should actually be from RS, Red Bass.

For that matter, I should probably add a lakeID column for this table.

[2021-02-16 16:13] Randinotte commented on #3
@kaijagahm no, they keep getting kicked down the list with the rest of the non-Long zoops (from monitoring lakes, project 15). Maybe if I have time this summer I can get to those zoops.

[2021-02-16 20:56] kaijagahm commented on #3
Ok, no worries! I'll mark this one as back burner for now.

[2021-02-16 21:50] kaijagahm opened #122 "BENTHIC_INVERTS/BENTHIC_INVERT_SAMPLES sampleID reference problem"
There are 1912 rows, representing 141 sampleID's, where the sampleID in BENTHIC_INVERTS does not appear in BENTHIC_INVERT_SAMPLES$sampleID. Some of these might be metadata name fixes that I forgot to propagate through, or there might be other problems.

Code to replicate the issue:
[code]

Note that once this is cleared up, assigning a FOREIGN KEY constraint on BENTHIC_INVERTS will prevent it from

[2021-02-17 20:05] kaijagahm commented on #114
Updated as part of 4.4.0.

[2021-02-17 20:05] #114 closed

[2021-02-17 20:05] kaijagahm commented on #104
Updated as part of 4.4.0

[2021-02-17 20:05] #104 closed

[2021-02-17 20:05] kaijagahm commented on #112
Fixed as part of 4.4.0

[2021-02-17 20:05] #112 closed

[2021-02-17 20:06] kaijagahm commented on #22
Fixed in database update 4.4.0

[2021-02-17 20:06] #22 closed

[2021-02-17 20:11] kaijagahm commented on #99
Database update 4.4.0 adds primary key constraints for many (but not all) tables.

Tables that now have a PK constraint:
BACTERIAL_PRODUCTION_PELAGIC
BENTHIC_INVERT_SAMPLES
CHLOROPHYLL
COLOR
CREEL_BOATS
CREEL_BOAT_SAMPLES
CREEL_FISH
CREEL_INFO
CREEL_INTERVIEW
CREEL_SAMPLES
CREEL_TRAILERS
CREEL_TRAILER_SAMPLES
DRY_MASS_EQUATIONS
FISH_DIETS
FISH_INFO
FISH_MORPHOMETRICS
FISH_SAMPLES
FISH_YOY
FLIGHTS

[2021-02-23 17:36] kaijagahm commented on #51
Ok, we took a long hiatus from this to work on other issues. I have now returned to it, doing a sweep through all of the *_SAMPLES tables to make sure their sampleID's are reconstructable.

The new script is called sampleIDsCheck_gh51.R. I'm not going to finish the old script, though I'll keep it for records.

FISH_SAMPLES: Most problems were taken care of by the various updates to the fish tables

[2021-02-23 17:58] kaijagahm commented on #51
Saved lookup tables for BENTHIC_INVERT_SAMPLES and SAMPLES, which are the only ones where sampleID's actually changed (for FISH_SAMPLES, I resolved the one problem by changing a value in the metadataID column, not in the sampleID itself).

Still have to fix the CREEL table in response to the spreadsheet that Randi sent, and then attend to the other to-do items above.

[2021-02-23 19:41] kaijagahm opened #123 "CREEL_SAMPLES sampleID issues"
This is a spinoff of #51: decided to deal with it separately while I finalize the rest of the stuff in that issue since there are several problems coming up with the CREEL_SAMPLES table.

Here's what I've done so far:
1. Noticed that the times in CREEL_SAMPLES are off--mismatches between the sampleID and the dateTimeSample. Here is code that demonstrates that:
[code]
Initially, I looked at the fir

[2021-02-25 18:45] kaijagahm opened #124 "Sensor DB: Stream discharge data rounding"
In [this document](https://app.box.com/file/45510587653) on Box, there is this to-do item:

We aren't sure whether this is still a problem or whether it has already been resolved.

KG, writing this, also isn't familiar with the stream discharge data and therefore will have a hard time figuring out what's going on.

[2021-02-25 18:46] kaijagahm opened #125 "Sensor DB: datetime rounding"
In [this document](https://app.box.com/file/45510587653), there's the following to do item:

Not sure how to approach this, so opening an issue for it.

[2021-02-25 18:56] kaijagahm commented on #111
Discussed this at the 2/23 meeting.

Reproducing the doc here so we can strike things off:

- ~Write R scripts for database ‘checks’ that are similar to Access (Alex / Jake)~ (this is being dealt with in #99).

- Get dome data from shonde
"shonde" is a nickname for Sean Godwin. "Dome data" refers to data from a benthic dome experiment, which goes in the sensor database. Steps for dealing with this

[2021-02-25 19:05] kaijagahm commented on #99
For SED_TRAP_SAMPLES: Change trapID to 4 for the ones that are duplicated. (does this need to be implemented in both STS and STD?)

For TPOC_DEPOSITION:
- Can randomly assign the deepHole ones to E, N, S, W etc. sites. They were on transects from different parts of the shoreline toward the middle, and in both EL and WL, the deepHole is around 50m from shore in each direction. So, randomly assign,

[2021-02-25 22:21] kaijagahm commented on #123
Notes from our meeting today:
1. After a bunch of investigation, we've decided to trust the times and dates in the sampleID. Steps to fix this:
    a. Extract date and time from sampleID to create a new dateTimeSample column
    b. Compute the difference between the original dateTimeSample and the new dateTimeSample
    c. Subtract that difference measurement from the new dateTimeSample column to

[2021-02-26 17:31] kaijagahm commented on #88
- Made notes in BENTHIC_INVERT_SAMPLES for the ones that were missing photos.
- Made most fixes. Waiting to hear back from Chris on one of them, and need to meet with Randi about a few others.
- Will incorporate Amaryllis's new rows.
- Have fixed the invertNum issue.
- Need to close out this BENTHIC_INVERTS issue before moving on to resolving sampleID's in #51

[2021-03-01 16:04] Randinotte commented on #123
@kaijagahm Just uploaded the creel tables diagram as Version 2 of the creelTablesDiagram2.pptx on Box/.../General or Secondary Metadata. Version 1 didn't include the flight tables.

[2021-03-02 20:07] kaijagahm opened #126 "ProjectID's for BENTHIC_INVERTS/BENTHIC_INVERT_SAMPLES"
A bunch of the bugs that Amaryllis added to the database are from depths 4 and 5. They may be project 7 instead of project 3 because of the weird depths, and AA wonders whether they were purposefully excluded from the database. She says:

In the db, these bugs will now have comment "May be project 7 instead of project 3; see GH issue 126." But I think we need to do a more comprehensive sweep of th

[2021-03-03 15:23] kaijagahm opened #127 "Benthic inverts: NFC samples (again)"
It seems that newer bug samples don't necessarily follow the pattern where sampleID's are included in BENTHIC_INVERT_SAMPLES even if they were NFC.

For example,
2019-05-14 has the following samples:
E 1 3
N 1 3 8
S 3
SE 1 3
SW 1

While the next two dates are as follows:
5/30:
11:36
E 1 3
N 1 3 8
(no S)
SE 1
SW 1 8
11:36
6/13:
11:37
E 1 3
N 1 3 8
S 1 3 8
SE 1 3
(no SW)

I spoke to Amaryllis about

[2021-03-04 13:58] kaijagahm opened #128 "Missing metadata doc for zoobenthos.Lipid.Sample.20120501"
Noticed that depthBottom != depthTop for many of these. The metadata description for a different metadataID, `zoobenthos.Isotope.Sample.20110714`, mentions that samples were taken between 0m and 1m with a dip net. I'm wondering if the same protocol was used here? but in METADATA, there's no linked file and the description is really short.

[2021-03-09 14:42] kaijagahm opened #129 "FISH_OTOLITHS data cleaning and primary key"
In trying to assign a primary key for FISH_OTOLITHS, I had some trouble understanding the structure of the table. I asked Chris to help, and he took a look and produced the attached notes document.

tl;dr: FO needs some serious cross-checking and revamping before it can be a useful database table with relational constraints and a primary key.
[otolith annulus number notes.docx](https://github.com/

[2021-03-11 18:24] kaijagahm commented on #123
Resolved these by adding CR as gear and reconstructing set and sample from the sampleID.
Included as part of db update 4.5.0

[2021-03-11 18:24] #123 closed

[2021-03-11 18:25] kaijagahm commented on #122
Resolved this--references should work now. Included as part of update 4.5.0

[2021-03-11 18:25] #122 closed

[2021-03-11 18:26] kaijagahm commented on #97
Should be fixed with update 4.5.0.

[2021-03-11 18:26] #97 closed

[2021-03-11 18:30] kaijagahm commented on #82
Both of these problems are fixed as of v 4.5.0. @Randinotte when you get the chance, can you confirm that everything is as it should be on your end when you use the most recent db version?

[2021-03-11 18:31] kaijagahm commented on #51
These are fixed with v 4.5.0.

[2021-03-11 18:31] #51 closed

[2021-03-11 18:32] kaijagahm commented on #33
Fixed with v 4.5.0.

[2021-03-11 18:32] #33 closed

[2021-03-11 18:33] kaijagahm opened #130 "Correct failed relational checks from relationalChecks.R"
I wrote foreign key-esque checks in relationalChecks.R, and will add some more complicated ones too.

Some of these failed, even after my work in 4.5.0 and need to be fixed.

[2021-03-11 19:50] kaijagahm commented on #130
Still open:
BACTERIAL_PRODUCTION_BENTHIC sampleID's (see #99)
BENTHIC_INVERTS otu

[2021-03-11 21:03] Randinotte commented on #99
Whenever you get back to needing the functions in my QCfuns.R script (that you put in the utilities repo for me), let me know and I'll send you the most recent version. I added a quick "check updateID's" function and I'm still having a problem with my "recreate sampleID's" function", although you probably have one that works after dealing with that in the duplicate sampleID's issue for so long.

[2021-03-15 17:10] kaijagahm commented on #88
Resolved with database update 4.5.0.

[2021-03-15 17:10] #88 closed

[2021-03-15 17:10] #82 closed

[2021-03-15 17:12] kaijagahm commented on #37
Resolved with #88.

[2021-03-15 17:12] #37 closed

[2021-03-15 18:18] joneslabND opened #131 "GC - NA in dateTimeSample causes issues"
Appears that there are ~190 NA values for dateTimeSample in 2019 (maybe 2020 too?). These caused dbTable() to fail because as.POSIXct() choked on NA values. I updated the as.POSIXct() call in dbTable() with the optional=TRUE argument to avoid the error from not returning the table from the database. Unfortunately, with optional=TRUE it doesn't handle the NA's on a case-by-case basis, but rather ma

[2021-03-15 18:56] joneslabND opened #132 "Sensor DB - HOBO_PRESS_CORR: location wrong for FE in 2019"
location for pressure data in FE inlet for 2019 is "Inlet", but should be "Inlet1"

[2021-03-16 12:47] kaijagahm commented on #131
Yeah, I had noticed this. I need to work on the GC table in a major way pretty soon anyway, tied in with #99. Will keep this in mind.

[2021-03-16 14:12] kaijagahm opened #133 "ISOTOPE tables overhaul"
a. Zoops should probably have a Z, not a W
     - are Zoops and Water tables actually identical?
     - Trace samples forward to results: same or different? (edit: can't do this; only one result for each isotopeID)
     - Hypothesis: either SQL script references the wrong table, or one of the tables got overwritten. Hopefully if the latter, can dig back in time and find the original zoop samples t

[2021-03-16 15:38] kaijagahm commented on #121
Never mind, looks like I did this check when I entered the data, or some other time. All match up now.

[2021-03-16 15:38] #121 closed

[2021-03-17 12:59] kaijagahm commented on #127
Fixed NFC samples for 2019 and 2020: found 17 out of 280.

Have yet to check samples from previous years.

[2021-03-19 13:56] kaijagahm commented on #17
Circling back to this issue, finally. Going to pick up this script where I left off.

One other thing to note is that we should change the "species" column in FISH_INFO to "otu", because not all the entries are actually species. Will this cause any problems in the rest of the pipeline/in the entry tool?

[2021-03-19 14:29] cdassow commented on #17
I think all that will have to happen is substituting the new column name in for species in the entry tool script, the contents of that column won't really change I don't think so I don't see it affecting much.

[2021-03-22 13:38] kaijagahm commented on #99
Noting here: I've created a script, relationalChecks.R, that will perform foreign key, sampleID, and other checks on each of the database tables. The idea is to run it before each database update.

As of today:
- all foreign key checks are in place
- all sampleID reconstructions are in place
- need to figure out how to deal with NA's that are allowed to be NA's, such as in depthBottom.
- Think abo

[2021-03-22 21:39] kaijagahm commented on #133
Another one:
f. ISOTOPE_SAMPLES_BENTHIC_INVERTS has many "unknown"s in the metadataID column. There are also many rows (including many of these unknowns) where the metadataID column doesn't match the metadataID portion of the sampleID. It's not clear to me whether this is a SAMPLES or a DATA table--i.e. should I be running a metadataID check at all? Even if no (if it's a data table), then we shoul

[2021-03-25 14:14] kaijagahm opened #134 "FISH_OTOLITHS: checks and primary key"
In working through the database primary and foreign key checks, we discovered that it's not easy to assign a primary key to FISH_OTOLITHS, and there's some uncertainty about how the data has been recorded there in the past.

Attached are Chris's notes after doing a bunch of digging into the data. This table needs to be looked at in depth, photos dug up, etc., but it's not a priority right now.

[o

[2021-03-25 15:29] Randinotte opened #135 "SAMPLES contains near duplicates for some GC samples"
Problem found while @kaijagahm was resolving foreign keys. I updated the GC table with data from Brittni (updateID sampleGC.20200331) and introduced near-duplicates to SAMPLES. Data ranged 2018-2019.

Notes:
1) Calling them "near" duplicates because the added rows have the same sampleID information except the metadataID portion. They have the same crew and weather information but not comments. The

[2021-03-26 14:45] kaijagahm commented on #128
See also: my discussion with Chris about possible NFC bug samples.

[2021-03-26 14:58] kaijagahm commented on #117
Fixed in the relational checks with database update 4.5.1.

[2021-03-26 14:58] #117 closed

[2021-03-26 15:19] kaijagahm commented on #99
Successfully created a new mini database version, v3.5.1, that resolves almost all of the relational and primary key checks. It's not on Box yet, and I may not add it until the next version is up; we'll see.

Dealt with the NA thing by using replace_na() in the sCheck function. Also added a dateTime check that works well.

Checks that are still unresolved are listed in #130, and additional primary

[2021-03-26 15:20] kaijagahm opened #136 "Improve or delete the PUBLICATIONS_PRESENTATIONS and LAB_EXPERIMENTS tables"
Currently, these are very minimal. Do we want to keep them? If so, let's flesh them out; if not, let's remove them.

[2021-03-29 13:34] kaijagahm commented on #118
See also: #23, #135.

[2021-03-29 13:35] kaijagahm commented on #131
Fixed with version 4.5.1, which isn't on Box yet.

[2021-03-29 13:35] #131 closed

[2021-03-31 19:41] kaijagahm opened #137 "ZOOPS_SUBSAMPLE: possibly missing samples from EL and WL?"
In the course of trying to resolve some duplicate subsamples while creating primary keys for the database tables, I noticed that there are some dates that seem to be missing samples.

I can't be sure whether these samples are actually missing, or whether they were deliberately not taken on the same day when a sample *was* taken from the other Long Lake basin. (Note that because sampling in the non

[2021-04-01 13:30] kaijagahm commented on #86
The wholeShoreline/WholeShoreline issue got resolved along with the other sampleID edits in e.g. #51 .

I'm going to close this issue and make a new one for adding lat/long to the existing sites.

[2021-04-01 13:30] #86 closed

[2021-04-01 13:33] kaijagahm opened #138 "SITES missing lat/long for many sites"
In #86 , we decided that lat/long should be specific to the site, not just the same as the lat/long for the lake.

Many, if not most, of the sites in SITES do not have lat/long coordinates currently recorded. I'm not sure whether that's something that could be dug up from data sheets or whether people will have to go out to UNDERC and physically measure lat/long at all of the sites. For some, it's

[2021-04-01 14:52] kaijagahm commented on #109
Okay, tally marks are checked. I went through and chose 10 sampleID's quasi-randomly that had tally marks with species indicated. I found a mix of things.

- The right number of fish of that species did show up, but they had measurements. So maybe the tallies were redundant?
- The right number of fish showed up in addition to ones that had measurements.
- The tallied fish did not show up
- The wro

[2021-04-01 15:36] kaijagahm commented on #109
Separately, I started looking through the file names to see if I could correct Matt's mistakes (he did a great job, but I figured a few typos would be inevitable!). As a way of quickly narrowing things down, I grabbed the file names and filtered it down to just the ones that didn't show up as part of a sampleID in FISH_SAMPLES. Frighteningly, there were 228 cases of this. I started to go through s

[2021-04-02 16:41] kaijagahm opened #139 "SAMPLES sampleID's with "unknown" metadata"
Can we track these down and figure out what's going on, and at least leave a comment? There are 13.

[code]

[2021-04-02 16:45] kaijagahm commented on #94
SED_TRAP_SAMPLES already has projectID's. Was able to assign almost all for FISH_SAMPLES. Had a lot of trouble assigning projectID's for SAMPLES, because many of the methods are generic and/or used across multiple projects.

[2021-04-02 16:53] kaijagahm commented on #130
- Updated the foreign key check function to get around the NA problem with UPDATE_METADATA and VERSION_HISTORY.
- Fixed the fishID's/sampleIDs in FISH_INFO.
- Fixed all of the fishID's in FISH_OTOLITHS (they were mostly the same problematic sampleID's from FISH_INFO), except for the one that Chris is still looking into. Will need to push that one forward into the next script.
- No progress on the

[2021-04-02 16:55] kaijagahm commented on #127
Have performed a more thorough check on the benthic invert samples now, and I'm happy with them. Script is bugSamplingDistributionChecks_gh126_gh127.R. See also #127.

[2021-04-02 16:57] kaijagahm commented on #126
Added projectID's appropriately, by pulling them out of BENTHIC_INVERTS and making some tweaks. The script in question is bugSamplingDistributionChecks_gh126_gh127.R. See also #127.

[2021-04-02 16:58] kaijagahm commented on #128
Created a metadata document for these after discussion with Chris. [zoobenthos.Lipid.Sample.20120501.docx
](https://app.box.com/file/790484063522)

[2021-04-05 13:58] kaijagahm commented on #127
Fixed in 4.5.2

[2021-04-05 13:58] #127 closed

[2021-04-05 13:58] kaijagahm commented on #128
Fixed in 4.5.2

[2021-04-05 13:58] #128 closed

[2021-04-05 13:58] kaijagahm commented on #126
Fixed in 4.5.2

[2021-04-05 13:58] #126 closed

[2021-04-05 14:00] kaijagahm commented on #130
Still to do:
- BPB sampleID's (waiting on Randi, #99 )
- Fish taxa (#17)
- Isotope tables (#133).

These are all covered by other issues, so I'm going to close this one.

[2021-04-05 14:00] #130 closed

[2021-04-05 14:03] kaijagahm commented on #94
Most updates made in 4.5.2. Still waiting on filling out the projectID column in SAMPLES--it currently has a lot of NA's because I had trouble clearly assigning projectID's based on metadataID's.

[2021-04-05 14:05] kaijagahm commented on #74
I added some updates on 4/3/2021 with version 4.5.2 of the database--added some more notes on primary keys and updated table descriptions for a few tables that I understand better now. Could still use more extensive descriptions, and would be good to eventually add foreign keys, once those are sorted out (but note that this will be hard to do)

[2021-04-05 14:07] kaijagahm commented on #54
Will this be partially solved by the projectID's? See #94.

[2021-04-05 15:46] kaijagahm commented on #72
Got the UNITS table up to date. Will have to sort it and double check it in the next db update

[2021-04-05 16:17] kaijagahm commented on #133
The structure we have here is kind of weird--the ISOTOPE_SAMPLES tables link to the other SAMPLES tables (or in the case of ISOTOPE_SAMPLES_FISH, to the FISH_INFO table). Do we like this 2-layered approach, or should we cut out the middlemen somehow?

But, on the other hand, the columns required in the ISOTOPE_SAMPLES tables might be different than the ones in SAMPLES or FISH_SAMPLES, so I underst

[2021-04-05 16:18] kaijagahm commented on #133
Will want to update the dbschema to show these tables in a clearer way once these problems are sorted out.

[2021-04-06 16:23] kaijagahm commented on #77
Figshare is updated to v4, as of today.

[2021-04-06 16:23] #77 closed

[2021-04-06 16:25] kaijagahm commented on #72
Most recent version of units, with the above updates, is uploaded as columnNames_allDatabaseTables.csv with the newest figshare update (v4). Note that this puts it ahead of the UNITS table, which hadn't yet been updated as of v 4.5.2 (the edits to UNITS will go into the next db update). I don't think this is a problem, really, and I made a note in the database README on figshare.

Still to do:
- A

[2021-04-12 19:08] kaijagahm commented on #17
Have not fully cleaned up OTU yet, but I think I *have* basically cleaned up FISH_INFO. After the next update, the `species` column will be called `otu`.

These are the unique values for the soon-to-be `otu` column in FISH_INFO.
[code]

@ctsolomon @joneslabND @cdassow do any of you want to raise concerns with any of these names, or do they look good? For example, I'm assuming that terms like "dace

[2021-04-13 11:42] joneslabND commented on #17
We should remove beaver, salamander,  tadpole, and turtle rows from the database, please.  I also wonder if we ever catch any. sculpin that is not a slimy sculpin. I'm a bit skeptical of the brook trout...

[2021-04-13 12:38] ctsolomon commented on #17
Becker (Fishes of Wisconsin) indicates that either slimy or mottled sculpin
might occur in places we sample. I can’t recall ever handling a sculpin in
northern WI myself, so I don’t have any intuition about whether one or both
of those is more likely to be right. Kaija, can you tell us what people
(from crew column) are associated with slimy sculpin and sculpin records?
We might either change all

[2021-04-13 12:53] kaijagahm commented on #17
Sculpin/slimy sculpin
- Total of 9 fish across 7 sampleID's.
- Four sampleID's have slimy_sculpin. Lake is BR, and crews are DB, FS, DS; CW,HC,DB; CH; CH.
- Three sampleID's have sculpin. Lakes are BS, BH, and AQ, and crews are AR, JCL; EM, CD; CD,EM.

Brook trout:
- PLM_FN1 (2016), crew is AR, NF, HC
- AQ_FN2 (2014), crew is NC, CJ, JL

Fish unidentifiable:
- I'm not sure. I guess I had assumed t

[2021-04-13 12:59] joneslabND commented on #17
I think mottled sculpin are more common in streams, but given crews and lakes I think it is ok to leave sculpin as sculpin.

Brook trout in those lakes (or at least associated creeks) seem ok

I think unknowns were definitely fish, unless they were tadpoles. How many unknowns vs. fish_unidentifiable do we have? I guess this is messier if this list includes diet information...

Not sure on striped

[2021-04-13 13:00] cdassow commented on #17
The only thing I have to add is that "fish_unidentifiable" may be a caryover from diet data since that's an otu we use in diets and "uknown" is likely coming right from field samples where a fish was caught in a net, electrofishing, angling.

Ahhh Stuart beat me to it!

[2021-04-13 15:22] kaijagahm commented on #17
@cdassow @joneslabND the list I have above is only from FISH_INFO; it doesn't include diet items. Is that what you were asking?

There are 11 fish in FISH_INFO labeled as "fish_unidentifiable". All but two are from minnow traps; the other two are from a fyke net and electrofishing. Dates range form 2013 through 2019. Various lakes.

There are 16 fish labeled as "unknown", and I don't see any comme

[2021-04-13 15:48] ctsolomon commented on #17
Sounds to me like we can collapse fish_unidentifiable and unknown – maybe
call them both fish_unidentifiable.

Striped shiner – why don’t we leave it as that.

I think we’ve resolved all of the questions now but if there’s anything
outstanding let us know!

*From:* Kaija Gahm ***@***.***>
*Sent:* Tuesday, April 13, 2021 11:23 AM
*To:* MFEh2o/db ***@***.***>
*Cc:* Chris Solomon ***@***.***>; Mentio

[2021-04-13 16:59] kaijagahm commented on #17
Sounds good to me. Thanks!

[2021-04-13 17:09] kaijagahm commented on #94
Made this google sheet: https://docs.google.com/spreadsheets/u/1/d/11lJ4nCTZ59nvwivLbyocO6Bu0ENaVYNzLDpHKwLNR-s/edit?urp=gmail_link&gxids=7628#gid=0

Agreed at 4/13 meeting that @joneslabND is going to take a look and propose solutions for as many of these as possible. Will be useful to have projectID's included in SAMPLES when we work on the entry tools.

[2021-04-14 16:44] kaijagahm opened #140 "limnoEntryTool notes"
We'll use this for brainstorming fixes/additions for the limno entry tool. @Randinotte put your suggestion about off-limits projectID's here.

[2021-04-14 18:18] Randinotte commented on #140
Seems like the tool is switching date formats for dateSample and dateTimeSample. This at least occurred in the output file profilesIS.csv for 2019 and 2020.

[2021-04-14 19:56] kaijagahm commented on #87
Updated Figshare on 4/6 with database version 4.5.2 (figshare version 4). Note that I forgot to include the database table descriptions and will have to remember to include those next time. Made a boxnote in the Figshare folder to serve as a reminder.

Didn't make smaller schema diagrams. Instead, updated the existing schema to correctly identify all primary and foreign keys. Removed references to

[2021-04-14 19:56] #87 closed

[2021-04-14 19:56] kaijagahm commented on #138
Emailed Randi on 4/14 to remind her to have the field crew take lat/long during the next field season.

[2021-04-14 19:58] kaijagahm commented on #129
Accidental duplicate of #134.

[2021-04-14 19:58] #129 closed

[2021-04-14 19:58] kaijagahm commented on #109
Eva is working on combing through the file names in the above-mentioned google sheet. We haven't started looking into the tally marks themselves yet.

[2021-04-15 14:36] kaijagahm opened #141 "ZAB missing biomass measurements"
For several sampleID's in 2016 and 2017, for non-chaoborus zoops that DO have a meanMass recorded, there is for some reason no biomass recorded, even though it should be calculatable.

sampleID's are:
 [1] "EL_DeepHole_20160505_1000_tow_10_zoopCounts.20181114"
 [2] "EL_DeepHole_20160510_1000_tow_10_zoopCounts.20181114"
 [3] "EL_DeepHole_20160517_1000_tow_10_zoopCounts.20181114"
 [4] "EL_DeepHole_2

[2021-04-15 16:15] kaijagahm commented on #99
Here are some pretty extensive notes from a meeting I had with Randi on 4/15 to try to resolve the remaining issues in ZOOPS_SUBSAMPLE/ZOOPS_ABUND_BIOMASS.

[zoopsNotes.20210415.docx](https://github.com/MFEh2o/db/files/6319455/zoopsNotes.20210415.docx)

@Randinotte do you think you could follow up on the 2012 sampleID at some point and try to figure out which row in ABUND_BIOMASS actually got meas

[2021-04-16 20:29] Randinotte commented on #56
I received 2019 and 2020 sensor data from David and Cal and placed it here: https://app.box.com/folder/135717962511. I attempted to get it into B3 input format but there's something wrong with the data formatting and I couldn't get it to work. I've tried changing the format of the date column and saving it before closing the csv (which has worked for other similar problems in the past) but B3 stil

[2021-04-21 15:27] kaijagahm commented on #99
Finished ZAB and ZS, based on our decision in the 4/20 meeting to average the values and leave a comment.

Now finished and ready for db update (assign primary keys in SQL; add checks in relationalChecks, etc)
- BACTERIAL_PRODUCTION_BENTHIC
- SED_TRAP_DATA
- ZOOPS_ABUND_BIOMAS
- ZOOPS_PRODUCTION
- ZOOPS_SUBSAMPLE

Still to do:
- GC (has its own issue--#118, so shouldn't stop us from closing this o

[2021-04-21 17:19] Randinotte commented on #94
I made a pass through the google sheet above and incorporated Stuart's slack comment that CR, HB, and MO are projectID 15, other lakes are projectID 17 (for regular limno-type samples), and FE/WL are projectID 3.

Re: "GC weirdness" rows, when samples from multiple projectID's are run in the same batch on the GC (which is very common), the standards used to calibrate the GC apply to both projectID

[2021-04-23 16:17] kaijagahm opened #142 "FISH_MORPHOMETRICS: Add pec fin landmarks from pec-fin-only photos"
Per emails with Chelsea: these landmarks didn't get added to the database after they were used to compute lengths.

Need to add the raw landmarks to the database so we can pull data from the database for her project.

Will have to do a mini database update to incorporate the edit before I can use it.

File is attached.
[caryFishDataTallyMarks.20210401.csv](https://github.com/MFEh2o/db/files/636671

[2021-04-23 17:24] kaijagahm commented on #142
Successfully added 2180 new rows. About to update the database, but have to fix some failed relational checks from the last small update before continuing.

[2021-04-23 17:54] kaijagahm opened #143 "SAMPLES add sample data from LIMNO_PROFILES update"
Looks like the most recent update to LIMNO_PROFILES only updated the data table and didn't add samples to the SAMPLES table, so that foreign key check failed. Looks like LIMNO_PROFILES should indeed have a foreign key relationship to SAMPLES, so I'm going to go ahead and add those rows.

[2021-04-23 17:54] kaijagahm commented on #142
Waiting for #143

[2021-04-23 18:17] kaijagahm commented on #142
Got stuck on #143 so I'm going to move on while skipping that check.

[2021-04-23 18:19] kaijagahm commented on #143
I pulled the samplesIS files for 2019 and 2020 off of Box and tried to do this myself, but it seems like we don't have crew/weather information for all of the sampleID's and I don't understand why. Maybe something weird with the limno entry tool? Might be best to do this through proper channels instead of by hand.

[2021-04-23 18:43] kaijagahm commented on #142
Closed as part of version 4.5.4.

[2021-04-23 18:43] #142 closed

[2021-04-23 18:45] kaijagahm commented on #96
Should work on this as part of #140

[2021-04-23 18:48] kaijagahm commented on #5
Patrick sent me the data via email on 4/22. Waiting to hear a few more details from him, and then I can get started adding it.

[2021-04-26 14:30] Randinotte commented on #140
Idea for off-limits projectIDs- If there are projectIDs that are "retired" it wouldn't be hard to make the entry tool reject them. For example, 1-12, 14, 16, 18-33, 39-40. ProjectID mix-ups don't happen frequently but I've found a few.

[2021-04-26 14:38] Randinotte commented on #138
I created a spreadsheet of the sites that we can reasonably get to this year during regular sampling. Most of them are going to be hit by the Limno crew, so that's on me and Eva this year.

[2021-04-26 15:06] Randinotte commented on #140
@kaijagahm Here's the log files correction script that I used at the end of the season. Looking though it, it only addresses a siteName/sampleID issue. Apparently whenever the depthClass == "surface" it made the siteName == "PML". As we said on the call today, it's probably an issue where a column number is hard-coded.

[code]

[2021-04-26 15:08] kaijagahm commented on #140
From meeting with Randi 4/26:
- Does limno entry tool compare e.g. pH values (etc) to past data from db? (Need to know for testing). Yes--it pulls LAKES, LIMNO_PROFILES, and SAMPLES data from the db version. We'll have to set it to an earlier db version to test it on new data.
- Space in id number randomly--sometimes, but not other times?
- When inlet1--assigning PML in place of siteName (inlet1).

[2021-04-26 15:15] Randinotte commented on #140
Clarifying the last bullet issue- the error occurs whenever the depthClass is "Surface", which makes this occur whenever the siteName is Inlet1, Inlet2, Inlet3, or Outlet. This makes the sampleID say, for example, "ME_**PML**_20200610_0936_Surface_0_Limno.Sample.20160505" (incorrect) instead of "ME_**Outlet**_20200610_0936_Surface_0_Limno.Sample.20160505" (correct).

[2021-05-06 13:15] joneslabND commented on #23
In 2018, we had issues with DIC samples. Something about acid being used (it was old?). In these samples, we would get a CH4 peak, but no CO2 peak. This issue was fixed sometime in July of 2018. Lot's of NA's in peakArea columns in 2019 too. Not sure if this is the same "sample prep" issue. Brittni doesn't think we had "acid issue" in 2019.

If we have a CH4 peak and no CO2 peak -> likely a sample

[2021-05-06 14:50] Randinotte commented on #140
A helpful check based on a current snag- sampleID's generated by the entry tool didn't include a preceeding 0 for 3-digit times (resulted in _932_ instead of _0932_). Not sure if this got fixed for the 2020 Limno Entry Tool or if I coded the fix later.

[2021-05-06 15:33] kaijagahm commented on #140
Now that I've looked through, I think this was because of the very weird format of the moieties table, where some of the column headers are sites like Inlet1, Outlet, etc. and some of them are depthClasses. That's just asking for trouble, having the column names not be "parallel" per se.

I've re-written a bunch of the code and it _should_ now account for this and properly assign the depthClasses

[2021-05-06 15:35] kaijagahm commented on #140
This will be fixed in my current version of the entry tool by the function `formatTimeSample`, which does the following:
- Checks to make sure the time is either 3 or 4 digits. If it's some other number of digits, throws an error
- If the time is only 3 digits, appends a leading 0.
- For either the original 4-digit time or the fixed 3-digit time (now 4-digits), checks that it's a valid time: i.e.

[2021-05-06 17:53] joneslabND commented on #118
Update after discussion with Brittni...

runID should be of format runYYMMDDXX, where:
-"run" is the prefix for all runID's
-YY is two digit year
-MM is two digit month
-DD is two digit day
-XX is the two digit run number for that date (sometimes 2 or more runs are done in a day

runName is as described above and vial number followed by an underscore and then the runID (minus "run") is used as the

[2021-05-11 20:23] kaijagahm commented on #140
Addressed in most recent version of the tool. Edited the above list a little. List is now c(1:2, 4:5, 7:12, 14, 16, 18:25, 27:33, 39:40). See supportingFuns.R

[2021-05-11 20:24] kaijagahm commented on #140
Should be fixed in most recent version. Let me know if this recurs.

[2021-05-17 18:34] kaijagahm opened #144 "Check script and foreign/primary key constraints for the sensor database"
Would be parallel to the current check script for the regular database.

[2021-05-17 19:04] kaijagahm opened #145 "Flesh out sensor db table descriptions"
I've created a draft of some table descriptions for the sensor database. Currently, the document is just in my working folder, since it's not done enough to be put into the official sensor database metadata folder.

RMarkdown: https://app.box.com/file/811691175918
PDF: https://app.box.com/file/811699665691

This needs to be fleshed out with descriptions of each database table.

Will also need to u

[2021-05-18 17:22] kaijagahm opened #146 "Add deploy logs to the sensor table"
Following up from the 5/18 check-in meeting:
Not sure what formats these are in; we may need to add either one or a few tables to include this information.

Ask Randi to pull together the deploy log information and then I can take a look at it and think about the best way to incorporate it into the sensor database.

Stuart points out that including these deploy logs will go a long way toward makin

[2021-05-18 17:26] kaijagahm commented on #143
Pretty sure this fix gets included in the database update that @Randinotte is currently working on, though I could be misremembering--correct me if I'm wrong.

[2021-05-18 17:27] kaijagahm commented on #140
Closing this for now since I've created an updated version of the limno entry tool. Will re-open if more issues come up. See tool template [here](https://github.com/MFEh2o/limnoEntryTool_TEMPLATE)

[2021-05-18 17:27] #140 closed

[2021-05-25 13:39] joneslabND commented on #2
2016 onwards can use the 2019 metadata. I need to create a new 2013 file...

[2021-05-25 14:07] kaijagahm opened #147 "Double-check habitats in OTU"
As far as I know, nobody has (recently) done a full check on the OTU table to make sure the 'grouping' and 'habitat' columns are properly assigned. Some of this will get checked informally as part of #17, and maybe I can outsource a little bit of the checking to someone along the way before I finalize that. But someone with more knowledge than me definitely needs to deal with the habitats.

[2021-05-25 16:25] kaijagahm commented on #96
Should be resolved with #140.

[2021-05-25 16:25] #96 closed

[2021-05-25 16:32] kaijagahm commented on #17
Just a quick update: I think it's a bad idea to rename `species` to `otu` in FISH_INFO after all because there are other scripts, including the entry tool, that reference the `species` column. Not going to do it.

[2021-05-25 16:46] kaijagahm commented on #147
Began a script for this. Once this database update is done, will need to re-run the script to extract the habitats. Then upload to Google Drive and send to Stuart/Chris/Randi for checking.

[2021-05-25 17:14] kaijagahm commented on #17
Okay I'm finally revisiting this issue. @joneslabND @ctsolomon I have a few lingering questions I'm hoping you can help me clear up.

1) We never fully resolved the issue of including life stage information as part of the species/otu name (e.g. "bluegill_yoy" or "largemouth_bass_larvae"). Earlier in this issue, I had written that we'd talk about that while standardizing the benthic invert taxonomy

[2021-05-25 17:35] kaijagahm commented on #94
@joneslabND any chance you'll have time to get to this in the next couple of days? It would be convenient to incorporate it into the database update I'm preparing to do. If you can't, that's fine--just let me know if I should wait for you.

[2021-05-25 17:36] kaijagahm commented on #6
@joneslabND @ctsolomon I'll be doing a database update this week, which would provide a convenient time to add this table to the database. Do you think you might have time to look over what we have and settle on a first version by, say, Thursday afternoon? No worries if not, just let me know whether I should wait or go ahead without this issue.

[2021-05-25 17:37] kaijagahm commented on #136
PUBLICATIONS_PRESENTATIONS will be deleted in the coming update, v 4.6.0.

EXPERIMENTS will be updated with new information

[2021-05-25 17:54] kaijagahm commented on #136
On second thought, Chris is right about LAB_EXPERIMENTS being redundant with PROJECTS. We have projects with either their own projectID's in PROJECTS, or noted in the description of other projectID's, with a file path shown to the home folder for that experiment. I don't see any additional info contained in LAB_EXPERIMENTS that we don't already have in PROJECTS, so I'm just going to remove this ta

[2021-05-26 14:13] ctsolomon commented on #6
This might be a good thing for me and Stuart to work through together when
we’re both at UNDERC in July. I’ll make a note in my calendar for that
week. For now you should go ahead and push a database update without this
table.

*From:* Kaija Gahm ***@***.***>
*Sent:* Tuesday, May 25, 2021 1:37 PM
*To:* MFEh2o/db ***@***.***>
*Cc:* Chris Solomon ***@***.***>; Mention <
***@***.***>
*Subject:* Re: [

[2021-05-26 14:23] ctsolomon commented on #17
Re point 1: yes, these OTUs would only show up in diet data, not in fish
data. The fish entry tool should never have to deal with OTUs that include
life stage info like this. I think it’s ok to leave them as is in the OTU
table.

Re point 2:

According to Becker (Fishes of Wisconsin), grass pickerel is the only
species of pickerel found in Wisconsin. So I think it’s ok to remove the
“pickerel” row

[2021-05-27 21:33] kaijagahm commented on #17
Roger all of that. Yes, the previous pickerel was caught in WI. I'll proceed without changing the life-stage names in OTU.

[2021-05-27 21:34] kaijagahm commented on #6
Got it, thanks.

[2021-05-28 17:51] joneslabND commented on #94
Sorry, I was in the field at UNDERC all week. Have you moved ahead with the update? I could get to this by the middle of next week, but it is ok to do an update without this if you'd like to (or already have) finish the update.

[2021-05-28 18:56] kaijagahm commented on #94
That's okay! I've already done the update, so it can wait for the next one.

[2021-05-28 19:33] kaijagahm opened #148 "Database check script notes"
- Currently, I'm treating it like the SQL script. Both the main script and its dependency live in the currentDB/ folder. Change the date in the script name each time it's edited.
- Doing this because each person has a different db update system, and I don't know how to make GH version control work for everyone.

- It would be good to add more informative messages. When something fails, tell the pe

[2021-05-28 19:36] kaijagahm commented on #136
Deleted

[2021-05-28 19:36] #136 closed

[2021-05-28 19:38] kaijagahm commented on #72
Updated UNITS in version 4.6.0, incorporating the changes from the figshare column names version and removing/adding columns as needed for the other changes in 4.6.0.

Still to do:
- Continue adding descriptions where they're missing
- Write a check function to check UNITS each time (related to #99)
- (maybe) write a function in the check script to reorder tables/cols consistently? It's a pain to

[2021-05-28 19:39] kaijagahm commented on #17
Resolved with version 4.6.0.

[2021-05-28 19:39] #17 closed

[2021-06-02 18:15] kaijagahm commented on #139
Okay, on second look, these are from 2010 and 2011. And someone went to the trouble of adding 'unknown' as an entry in METADATA. So I'm pretty sure we aren't going to find this information--these were probably random samples taken so long ago that nobody knows where they're from. Going to leave this as is.

[2021-06-02 18:15] #139 closed

[2021-06-02 18:19] kaijagahm commented on #54
@Randinotte @ctsolomon @joneslabND If we do want to do this, now would be a good time, since the limno entry tool is fresh in my mind.

But, we already have, for each sample:
- depthClass (which often provides info about types of samples)
- metadataID (which likewise provides info about types of samples)
- sampleGroup (which, I guess, gets at project/metadata? Possibly redundant with those
- proje

[2021-06-02 18:33] kaijagahm commented on #147
@joneslabND @ctsolomon @Randinotte [here](https://docs.google.com/spreadsheets/d/1r4QmqU71k9zMYh7czrz97yjAZbuNUJEcpb48_f4n1jQ/edit?usp=sharing) is a google sheet for looking over habitats and groupings in the OTU table.

[2021-06-02 18:35] kaijagahm commented on #120
Take a look at this for #98

[2021-06-02 18:46] kaijagahm commented on #101
I wonder if this should be subsumed under the huge project that is checking all the fish data sheets for tally marks and general accuracy?? #109

[2021-06-02 18:47] kaijagahm commented on #109
Note that another thing to check for accuracy here could be effort measurements, as in #101

[2021-06-02 18:56] kaijagahm commented on #73
Emailed Carly to check on 6/2/21

[2021-06-02 19:01] kaijagahm commented on #5
Circled back with Patrick on 6/2 to ask for the raw count data.

[2021-06-03 04:04] joneslabND commented on #54
This might have been to accommodate some different sample types, but we've gone with different sample tables instead (e.g. fish and bugs)? I think it is ok to close it... I'm not sure where staff gage samples are recorded...

[2021-06-03 04:16] joneslabND commented on #11
I think @ctsolomon knows more about this

[2021-06-03 12:36] ctsolomon commented on #11
Yes - I just put it back on my active to-do list at the beginning of this week, as it turns out. I need to start a conversation with Marco and Dane about it - I'll do that.

[2021-06-03 12:40] ctsolomon commented on #54
Yes, I'm not sure this has come back up since last summer, so maybe that means we can do without it unless Randi remembers a compelling reason for it that we're forgetting.

[2021-06-03 12:51] ctsolomon commented on #147
@kaijagahm can you explain the color coding on the google sheet? Also - I could use a refresher on what we're using these two columns for, and what the database column descriptions say we're using them for. I know partial answers to this but not sure I have the whole scope.

[2021-06-03 13:10] kaijagahm commented on #147
@ctsolomon Oh, sorry! The colors are just to distinguish different classifications. That bright blue is for "benthic_invertebrate" and "benthic" (because I figured those two would almost always go together and we'd want to know if they didn't), and then I gave the other habitats different colors so it's easier to skim. But if the colors are annoying for you, you can feel free to remove them.

You

[2021-06-04 14:00] Randinotte commented on #54
I don't remember exactly why this seemed useful last year. It's possible that there are some tables where "staff" specifically would be helpful, but I just skimmed through tables and couldn't find any that made sense.

[2021-06-04 19:49] kaijagahm opened #149 "FISH_INFO Fishy measurements"
There are a couple length measurements that are almost certainly mistakes (discovered while working on the entry tool). Those really obvious outliers should be fixed, but CTS notes that there are some other outliers within species that should also be examined, such as some really large bluegill.

Lengths shown here are in millimeters.

<img width="600" alt="Screen Shot 2021-06-04 at 3 02 32 PM" sr

[2021-06-07 12:56] kaijagahm commented on #5
Reminded again on 6/7

[2021-06-07 13:16] kaijagahm commented on #120
Ran this by Stuart and he doesn't think it's necessary. Closing.

[2021-06-07 13:16] #120 closed

[2021-06-07 13:20] kaijagahm commented on #100
I think this will end up being the same issue as #149

[2021-06-07 15:06] kaijagahm commented on #78
We've talked enough about this and rejected it enough times that I think we're just going to leave things as is.

[2021-06-07 15:06] #78 closed

[2021-06-07 15:07] kaijagahm commented on #73
Waiting for response--will check back on 6/8 or 6/9 if I haven't heard.

[2021-06-07 15:08] kaijagahm commented on #65
Waiting to hear back from Steve to confirm we can use the same ksat equation

[2021-06-07 15:27] kaijagahm commented on #28
This is redundant with #6. Closing.

[2021-06-07 15:27] #28 closed

[2021-06-07 15:29] kaijagahm commented on #23
Should deal with this in tandem with #118

[2021-06-07 15:32] kaijagahm commented on #12
The above thing with 37 is resolved, but now need to wait until #143 is resolved (or maybe not?)

[2021-06-08 15:09] kaijagahm commented on #54
At 6/8 meeting, we decided we don't need this. Closing.

[2021-06-08 15:09] #54 closed

[2021-06-08 15:11] kaijagahm commented on #35
Discussed this at the 6/8/2021 meeting. SEJ mentioned that he tried to implement the character string as a default before and ran into some weird problems that were easier to deal with by just using the current setup.

I pointed out that the current setup forces you to write in the name of the database file you're using, which _maybe_ will encourage people to actually use the dated versions of the

[2021-06-08 15:11] #35 closed

[2021-06-08 20:04] kaijagahm commented on #148
Discuss with Randi after her db update is done so we can walk through the workflow together.

Side note: can we change the SQL script name so it's less confusing?

[2021-06-08 20:07] kaijagahm commented on #147
As of 6/8, we're going to retain the `grouping` column but remove `habitat`, assuming that there are no rows that are distinguished only by habitat.

[2021-06-08 20:20] kaijagahm commented on #147
Since `otu` is the primary key, `habitat` is not necessary to distinguish rows.

Removed beaver and turtle.

For 'substrate', 'otoliths', and 'no_sample_taken', checked all tables that join to OTU (found a list of these by looking at the database check script) to make sure they appeared nowhere. They don't. Removed them.

Removed 4 rows and 1 column for new dimensions of 13x346. Will need to updat

[2021-06-08 20:21] kaijagahm commented on #146
Next step here is for someone (Randi?) to pull together the deploy log information.

[2021-06-08 20:29] kaijagahm commented on #149
Duplicate of #100--moving over there.

[2021-06-08 20:29] #149 closed

[2021-06-09 15:24] kaijagahm opened #150 "Fish tag formats--cleanup and entry tool"
We decided that it would be nice to have a function in the fish entry tool to check the format of all pit and floy tag numbers entered.

In order to do this, we have to have a clear idea of what formats are acceptable.

Note that it's _not_ sufficient to look at what the formats "should" be going forward, because we also have to account for old tags that get recaptured. All past formats are fair g

[2021-06-09 15:31] kaijagahm opened #151 "BENTHIC_INVERTS dry mass 2019-2020"
Selected and lightly edited messages from a Slack convo with @ctsolomon:

CTS:

KG:

CTS:

KG:

CTS:

[2021-06-09 15:44] kaijagahm commented on #99
@joneslabND there's just one loose end to tie up on this issue. You can ignore most of the above--this was long and complicated, and you don't need to read it all over.

The remaining problem is that we're trying to assign sampleID*parameter as the composite primary key for WATER_CHEM, and we have one remaining duplicate: `CB_DeepHole_20110630_1233_PML_0_Methane.Sample.20110601` has two DOC measur

[2021-06-09 16:27] joneslabND commented on #99
make the top one the point one. Thanks!

Stuart

On Wed, Jun 9, 2021 at 11:45 AM Kaija Gahm ***@***.***> wrote:

--
Stuart E. Jones
Associate Professor
University of Notre Dame
Dept. of Biological Sciences
264 Galvin Life Sciences
Notre Dame, IN  46556
***@***.***
(574) 631-5703

[2021-06-10 17:16] kaijagahm commented on #150
I've now written skeleton functions for pit and floy tag formats. I'm commenting out the code for those checks in fishEntry.R; you'll need to un-comment it.

For thoughts on how to match multiple regex strings, see these resources:
[Multiple strings with str_detect](https://stackoverflow.com/questions/35962426/multiple-strings-with-str-detect-r)
[Multiple patterns with filter and str_detect](https

[2021-06-11 16:17] kaijagahm opened #152 "BGPP (Benthic primary production dome data)"
Goals:
1. Compile and organize the Benthic GPP (BGPP) data so we can start exploring patterns w/r/t depth
2. Get the organized data into the sensor database
3. Develop a reproducible pipeline to read data directly from the database into any analysis scripts we end up using.

Summary of what we know so far:
KG organized all data (2012-2020) in a folder on Box called '**BGPP Dome Data (all years)**'

[2021-06-11 18:53] kaijagahm commented on #152
I did some work on getting my head around all the BGPP data. Questions:

1. This data is different from the PRIMARY_PRODUCTION_BENTHIC table in the regular database, which only has 2011 (BGPP project starts in 2012). We might want to put derived estimates in PPB table eventually (see CTS note above), but for now I can ignore that. Different project.
2. Carly notes that the 2019 and 2020 "raw" data

[2021-06-11 18:54] kaijagahm commented on #152
The plot thickens!

KG:

[2021-06-11 18:57] kaijagahm commented on #152
CTS chimes in to help us figure out the case of the missing just-post-B3 data:

CTS:

RN:

CTS:

[2021-06-11 19:01] kaijagahm commented on #152
And that is where we left it. So far, @Randinotte has dug through a bunch of computers/hard drives and hasn't had any luck coming up with the raw data.

So far:
- Checked Jim Coloso's old computer; nothing. Found April benthic data from Sean's folder--that's new data that we hadn't already accounted for.
- Will look on the UNDERC lab computer.
- Will keep notes on where she's looked and what she f

[2021-06-14 19:58] kaijagahm commented on #5
Got data last week. Will talk to Stuart on 6/15 to make sure I understand what needs to happen.

[2021-06-17 17:42] kaijagahm opened #153 "SAMPLES dateTimeSample lost times somehow?"
This is really weird. While working with the chaoborus data, I noticed that the times are missing from the dateTimeSample column of SAMPLES.

The times appear fine in the 2021-03-25 version, but they disappear in the 2021-04-02 version. The script that modifies SAMPLES for that database update is gh094_projectIDAdd.R, my first attempt at adding projectID's to SAMPLES. None of the other scripts wri

[2021-06-17 17:51] kaijagahm commented on #153
Ok, made the fix to restore the times in the gh099_morePrimaryForeignKeys.R script. Looked at the relationalChecksDefs script, and I don't understand how the database checks didn't catch these problems. I'll have to manually run the check during the next database update.

[2021-06-17 17:52] kaijagahm commented on #99
Made this change, and wrote out the files. Went ahead and did their update_metadata descriptions in meta_4.7.0, in preparation for the database update.

Also incorporated the #153 fix into this script; see that issue for explanation.

[2021-06-18 00:39] kaijagahm commented on #152
Randi hasn't been able to find any more data, and we think we probably just don't have it. @ctsolomon might do a little more digging when he's up at UNDERC, but for now we decided that I should move forward with pulling the data together.

I worked on it a bit and relatively easily pulled everything together. Here's a screenshot of the first few rows of the table I produced:
<img width="617" alt="

[2021-06-18 20:53] kaijagahm commented on #16
Here is an Excel version of the interactive google spreadsheet I used for this update. Cleaning out my google drive and putting it here instead.
[CREW_newformat.xlsx](https://github.com/MFEh2o/db/files/6679325/CREW_newformat.xlsx)

[2021-06-18 21:09] kaijagahm commented on #31
Clearing out my google drive, so here's an excel version of the interactive google sheets document that Chris and I used to create the new taxonomy:
[BI_taxonomy_questions.xlsx](https://github.com/MFEh2o/db/files/6679381/BI_taxonomy_questions.xlsx)

[2021-06-18 21:14] kaijagahm commented on #9
Cleaning out my google drive: here's a file that was used to parse through comments on the DOC measurements and decide whether to take action on them.
[DOC comments.xlsx](https://github.com/MFEh2o/db/files/6679390/DOC.comments.xlsx)

[2021-06-18 21:18] kaijagahm commented on #22
Cleaning out my google drive. Here's an Excel version of the spreadsheet that we used, interactively, to try to correct tag numbers and assign tag types to them.
[FISH_INFO mystery tags.xlsx](https://github.com/MFEh2o/db/files/6679400/FISH_INFO.mystery.tags.xlsx)

[2021-06-18 21:20] kaijagahm commented on #22
Oh, and here are some notes we took about what to do with the clip and tag formats. We settled on the current wide format with pitApply, pitRecapture, floyApply, floyRecapture.
[FISH_INFO_ clip and tag apply columns discussion notes.docx](https://github.com/MFEh2o/db/files/6679410/FISH_INFO_.clip.and.tag.apply.columns.discussion.notes.docx)

[2021-06-20 18:24] kaijagahm commented on #141
Have to wait on this one until #99  is finalized and the database updated, since it relies on having unique primary key rows in ZOOPS_ABUND_BIOMASS.

[2021-06-20 20:33] kaijagahm commented on #98
Entry tool is going pretty well. I'm running it through old data to find any mistakes and make whatever tweaks are necessary.

Outstanding problems/special cases that I'm not sure how to deal with:
- fishScapes2019_LT_2019-07-22_2355.csv is a BE sheet, but it's missing distanceShocked. That seems to be intentional. There's a comment ''Map my run did not restart so distance not accurate but time is

[2021-06-21 13:56] kaijagahm opened #154 "OTU add 'unidentifiable' and 'fish_unidentifiable' to abbrevation column"
In order for the fish entry tool to parse these, they need to be in the OTU$abbreviation column, even though they're not technically abbreviations.

Can add this to the next db update.

[2021-06-21 16:05] kaijagahm commented on #154
Grouped this fix in with the #147 script.

*Not* assigning 'unidentifiable' to the abbreviation column, because 'unidentifiable' doesn't have grouping == "fish" and therefore shouldn't be used in the entry tool. I *did* make the fix for 'fish_unidentifiable'.

[2021-06-25 17:04] kaijagahm opened #155 "Fish entry tool: re-fit von Bertalanffy curves"
Notes from KG/SEJ meeting 6/25:
The von Bertalanffy check doesn't currently work well. It flags almost all fish as being too small/overestimates how large they should be based on growth curves.

Likely, the equation needs to be re-parameterized (separate parameters for Long Lake and the other lakes). Can do this by pulling out fish ages and weights from the FISH_OTOLITHS table and fitting growth c

[2021-06-29 18:20] kaijagahm commented on #99
Finished the rest of these, and added primary keys/checks to the SQL and database check script, with database version 4.7.0, 6/29/2021.

[2021-06-29 18:20] #99 closed

[2021-06-29 18:21] kaijagahm commented on #154
Change made in v 4.7.0.

[2021-06-29 18:21] #154 closed

[2021-06-29 18:21] kaijagahm commented on #153
Change made in v 4.7.0

[2021-06-29 18:21] #153 closed

[2021-06-29 18:22] kaijagahm commented on #147
Finalized in v 4.7.0.

[2021-06-29 18:22] #147 closed

[2021-06-29 18:23] kaijagahm commented on #94
Stuart resolved all the conflicting projectID's:
[conflictingProjectIDs.20210406_SEJ_edit.csv](https://github.com/MFEh2o/db/files/6735549/conflictingProjectIDs.20210406_SEJ_edit.csv)

Incorporated this into v 4.7.0 of the database and assigned the rest of the projectID's. Just missing a few more with routine limno sampling metadataID's.

[2021-06-29 18:23] #94 closed

[2021-06-29 18:25] kaijagahm commented on #148
Changed the SQL script name to makeDB_v[number]. Added a check function to the main check script that looks for the *Defs dependency in the same folder and takes the most recent version if there's more than one. Warns if it can't find the appropriate defs script.

Workflow of changing the dates on the check scripts and bringing them along with the rest of the files, just like with the sql script,

[2021-06-29 18:25] #148 closed

[2021-07-12 23:46] ctsolomon opened #156 "BENTHIC_INVERTS fixes"
A few issues in BENTHIC_INVERTS:

1. There are some typos in taxonomic names, I think mostly or entirely in 2019-2020 data. For instance "croduliidae" for "corduliidae", "ephemerllidae" for "ephemerellidae".
2. invertID WL_S_20200622_0000_sediment_1_zoobenthos.Sample.20110714_1 – identified as otu=arachnid. In the OTU table, this otu is a spider. Perhaps what was intended was otu= hydrachnidiae, a

[2021-07-12 23:47] ctsolomon opened #157 "OTU water mites"
We have two entries for water mites in OTU. One has “hydrachnidae” in OTU column, which is incorrect spelling. This row should be removed from OTU. The other has “hydrachnidiae”, which is correct. The correct row should be retained but edited so that orderTax=Trombidiformes, commonName=mite, OTU= hydrachnidiae, and the other taxonomic columns are NA or unknown.

[2021-07-13 00:10] ctsolomon commented on #151
Figuring out the best way to deal with dry mass for 2019-2020 bugs turned into a ball of yarn that unraveled a bunch of other things. But I think I ended up with a pretty good proposal for a solution, which is described in the .pdf document attached here. I have the .pdf as a Word doc too, and I also have the 'dryMassEqs.csv' file mentioned in the .pdf, which GitHub doesn't want to let me upload.

[2021-07-18 14:23] kaijagahm commented on #5
Seems like I won't have time to finish fixing this before I go. It's turning out to be a can of worms.

Some information, so whoever works on this can pick up where I left off.

- The chaoborus data were sent to me, by Patrick, in an email on June 7, 2021.

PK:

- The data are stored in "Kaija Working Folder/data/inputs/chaoborusData/".
- I used the script `gh005_chaoborus.R` to pull in the chaobo

[2021-07-18 14:28] kaijagahm commented on #6
Status of this one: Stuart and Chris will work on finalizing and adding this table when they have time. The most up-to-date draft is still here: https://docs.google.com/spreadsheets/d/1mNeHgtWXmfsIz1ddV4qcaxioCUyx_NeB6q6PSHPglZw/edit#gid=0. I've given ownership of that google sheet to Chris.

[2021-07-18 14:30] kaijagahm commented on #151
When working on this issue, be sure to also loop in #7 and #30, which are related.

[2021-07-18 14:30] kaijagahm commented on #30
This might lend itself to being fixed along with #151?

[2021-07-18 14:30] kaijagahm commented on #7
This may lend itself to being fixed along with #151?

[2021-07-18 14:33] kaijagahm commented on #12
I won't get to this before I leave.

[2021-07-18 14:52] kaijagahm commented on #73
Checked in again on 7/18

[2021-07-18 14:53] kaijagahm commented on #74
In #151, Chris's document includes some info for a table blurb.

[2021-07-18 14:54] kaijagahm commented on #89
I'm going to close this issue. It'll be evident to anyone working later that the sourceCode column could use filling out. It's not a high-priority issue, nor is it one that can be easily addressed and finished.

[2021-07-18 14:54] #89 closed

[2021-07-18 14:55] kaijagahm commented on #98
I updated the entry tool to allow NA for distanceShocked.

[2021-07-18 14:55] #98 closed

[2021-07-19 13:47] kaijagahm commented on #146
The [draft database table](https://app.box.com/file/834735680119) that I made for BENTHIC_DOME_DEPLOY_LOG can eventually be adapted into a more general deploy log table. Will need to add some columns to account for different types of sensors deployed, and maybe expand/change the format of the deployID's to add that new information.

[2021-07-19 13:53] kaijagahm commented on #150
The fish entry tool is ready to have this check added. I've written almost the entire check function, in 'checks.R'. As of 2021-07-19, it's on lines 677-716, and I've reproduced the code here:

[code]

The variables `floyPattern` and `pitPattern` need to be added in as regex expressions.

Then, once the function is finished, you'll need to add that check into 'fishEntry.R'. Currently, it's on line

[2021-07-19 14:03] kaijagahm commented on #152
Okay, most of the above problems with missing data were due to errors reading the files in and specifying column types with `readr::read_csv()` and the `col_types` arg.

Going year by year, I completed an updated workflow for reading in and reformatting/compiling the data for all years.

- The R code that I used to do this is [BenthicDomeDataProcessing.20210709.Rmd](https://app.box.com/file/831834

[2021-07-19 14:04] kaijagahm commented on #152
This issue pending discussion in the 7/20 meeting; then can be closed if there's no further work to be done.

[2021-07-19 14:06] kaijagahm commented on #155
After re-parameterizing the equation, the new parameters will need to be hard-coded into the `vonBCheck()` function, which calls the `vonB()` function. The code for these functions can be found in 'checks.R' in the fish entry tool. Currently, they're at lines 718-803.

When this is fixed, the `vonBCheck` line in 'fishEntry.R' should be un-commented (currently it's line 369 of fishEntry.R).

[2021-07-19 15:47] kaijagahm commented on #61
Fixed this function and made it easily take a vector as the `values` argument! Added it to the utilities/ repo (recently renamed MFE_Utilities), which is an R package. So you should be able to do `devtools::install_github("MFEh2o/MFE_Utilities")` and then `library(MFE_Utilities)` and then use the `getData()` function. See ?getData after loading MFE_Utilities for more information.

[2021-07-19 15:48] #61 closed

[2021-07-20 18:40] kaijagahm commented on #65
I passed the email thread to @joneslabND and @ctsolomon on 7/20.

To summarize: I received assorted slug test data (in various formats) via email from Jake Zwart. I put it [here](https://app.box.com/folder/122131119317). The data needs to be cleaned, and ksat measurements need to be calculated. I started a script to try my hand at creating a ksat calculation function. The function isn't done, beca

[2021-07-23 18:33] kaijagahm commented on #60
Here is a notes document that I used for this issue. I don't think it'll be needed, since the issue has been resolved, but just in case:
[FSMismatchedTimesMoreDetails.docx](https://github.com/MFEh2o/db/files/6870580/FSMismatchedTimesMoreDetails.docx)

[2021-07-23 19:24] kaijagahm opened #158 "Make a UNITS table for the sensor database"
It doesn't currently have one. I did some preliminary work for this in 'gh158_UNITS_sensorDB.R'.

[2021-07-23 19:35] kaijagahm commented on #143
This issue has a script started. See 'gh143_limnoProfilesSamples.R' in my archive.

[2021-07-23 19:36] kaijagahm commented on #141
This issue has a script started. See 'gh1431_zoopBiomassCalc.R' in my archive.

[2021-07-23 19:36] kaijagahm commented on #137
This issue has a script started. See 'gh137_ZSmissingData.R' in my archive.

[2021-07-23 19:36] kaijagahm commented on #111
This issue has a script started. See 'gh111_thingsToDo.R' in my archive.

[2021-07-23 19:37] kaijagahm commented on #109
This issue has a script started. See 'gh109_tallyMarksFishInfo.R' in my archive.

[2021-07-23 19:37] kaijagahm commented on #100
This issue has a script started. See 'gh100_fishyWeights.R' and 'gh100_unrealisticFishWeights.R' in my archive.

[2021-07-23 19:37] kaijagahm commented on #72
This issue has a script started. See 'gh072_units.R' in my archive.

[2021-07-23 19:38] kaijagahm commented on #41
This issue has a script started. See 'gh041_met_QC_sensor.Rmd' and 'gh041_metstation_QC_functions.R' in my archive.

[2021-07-23 19:39] kaijagahm commented on #40
This issue has a script started. See 'gh040_DO_sensor_fix.R' in my archive.

[2021-07-23 19:39] kaijagahm commented on #30
This issue has a script started. See 'gh030_FISH_DIETS.R' in my archive.

[2021-07-23 19:39] kaijagahm commented on #23
This issue has a script started. See 'gh023_GC_area_NAs.R' in my archive.

[2021-07-23 19:40] kaijagahm commented on #12
This issue has a script started. See 'gh012_SAMPLES_unconnected_sampleIDs.R' in my archive.

[2021-07-23 19:40] kaijagahm commented on #5
This issue has a script started. See 'gh005_chaoborus.R' in my archive.

[2021-08-03 18:09] kaijagahm opened #159 "Include more detailed DB usage instructions on Figshare"
I just rediscovered this document that Randi wrote: https://app.box.com/file/671037579366

Currently, on Figshare, there is a README for the database, which I wrote sort of in parallel to this document without remembering it existed. But I think this document is better, and should probably be included (in some form) in the next Figshare update.

I'm also attaching the document here, in case that B

[2021-08-03 19:09] kaijagahm commented on #50
I'm pretty sure this document, which I found on my Google Drive, pertains to this issue. No action should be required, but I wanted to put the document somewhere so it doesn't disappear into the ether when I leave.
[METADATA multiple docs for one metadataID.pdf](https://github.com/MFEh2o/db/files/6926525/METADATA.multiple.docs.for.one.metadataID.pdf)

[2021-08-13 12:13] ctsolomon commented on #158
Related to this: in at least some tables in the sensor database (e.g. BENTHIC_DOME_CORR), units are often incorporated into the column headers (e.g. targetDepth_m, cleanedDO_mg_L. I think our general approach in the main database has been to rely on the UNITS table to convey units, allowing for simpler column headers. Following that approach would let us use things like targetDepth and cleanedDO h

[2021-09-09 17:51] ctsolomon commented on #152
There are several dome deployments that are recorded in BENTHIC_DOME_DEPLOY_LOG but either don't show up, or are not labeled with the correct deployID, in BENTHIC_DOME_CORR. These are:
[code]
In at least one case, I suspect that the data are in BENTHIC_DOME_CORR but are not labeled with the correct deployID. The plot below shows DO data that are recorded in BENTHIC_DOME_CORR as deployID="EL-25=201

[2021-09-09 18:53] ctsolomon commented on #152
Also, deployID "WL-25-20120716" in BENTHIC_DOME_CORR looks like it should actually be several replicate deployments; replicates a, b, c, and NA are present (and thus if you look at the portion of this table corresponding to deployID="WL-25-20120716" there are four rows for each time point).

[2021-09-10 22:23] kaijagahm opened #160 "Bluegill fish lengths"
In finalizing the Chelsea Bishop bluegill manuscript, we ran into some mysterious fish measurements <15mm in FISH_INFO. These are incorrect. The correct measurements for each fish are in FISH_MORPHOMETRICS.

To the best of my knowledge, here's what happened:
1. The fish standard length measurements should be calculated based on the distance between landmarks 1 and 7. In her initial scripts, Chelse

[2021-09-24 20:26] ctsolomon commented on #41
Here's another look at the 2015 EL PAR problem, which I ran into separately before remembering that there was an issue already started.

First, here's PAR plotted for EL and WL for a couple days at the beginning of June
![image](https://user-images.githubusercontent.com/8375012/134735393-104929d2-c744-41a4-a663-d92a76520da5.png)

And here's a plot showing this over all of 2015
![image](https://use

[2021-09-28 13:25] camillemosley opened #161 "Jones lake experiment data 2020"
The data uploaded to the database for summer 2020 for the jones lake experiment has some errors that need to be corrected. Many files in the fish info/samples tables are incorrect because of tag rounding errors. Those sheets must be deleted fixed and added before uploading all of 2021 project 41 data to FISH tables.

[2021-10-06 13:02] ctsolomon opened #162 "Missing effort and effortUnits for some minnow trap samples in FISH_SAMPLES"
While working up Long minnow trap data, stumbled into a few samples for which effortUnits is recorded as NA. The sampleIDs are:
"WL_MT.019_20140611_1415_MT_MarkRecap.20120228"
"WL_MT.019_20140614_1200_MT_MarkRecap.20120228"
"WL_MT.020_20140611_1415_MT_MarkRecap.20120228"
"WL_MT.020_20140614_1200_MT_MarkRecap.20120228"
"WL_MT_20140803_1415_MT_MarkRecap.20120228"

All five also have NA in the effort

[2021-10-21 14:34] ctsolomon opened #163 "incorrect time FISH_SAMPLES"
Amaryllis has been checking field data sheets to answer queries that have arisen as I have been cleaning up Long tag data. She noticed that for sampleID 'WL_WholeShoreline_20170521_1230_BE_MarkRecap.20120228', the dateTimeSample should have been entered in database as 2017-05-21 00:30:00 (not as ...12:30:00). This will also require an update to the sampleID, since that contains the dateTimeSample.

[2021-10-22 13:53] ctsolomon commented on #163
Similarly, Amaryllis says that for sampleID 'EL_WholeShoreline_20120612_0740_AN_MarkRecap.20120228', dateTimeSample is 09:40, not 07:40. Again change should happen in dateTimeSample and sampleID.

[2021-11-10 14:25] ctsolomon opened #164 "CREW update"
In CREW table, should correct name entry for year==2016, firstname=='Natalie'. Correct firstname should be 'Nathalie', and lastname should be 'Chehab'.

[2021-11-10 18:49] ctsolomon commented on #163
Changes to dateTimeSample will propagate not only to sampleID, but also to fishID. Possibly onward from there to otoliths or anything like that?

[2021-11-15 14:01] ctsolomon opened #165 "add 2021 limitation experiment"
Stuart and Chris ran a small limitation experiment in July 2021. Samples have now been run and data are available (see Slack from Randi on 12 Nov in #long_expt channel). Should add the data and the metadata document to the experiments archive of the database.

[2021-11-16 16:44] Randinotte commented on #164
I just made a note to correct this when I update the crew table this year.

[2021-11-16 16:54] Randinotte commented on #143
I believe this is tied to a larger issue I'm trying to wrap my head around. 2019 rows in SAMPLES were edited during a fix to correct a dateTimeSample issue (currently searching through GH issues to figure out which one, update metadata isn't helpful). If I'm remembering correctly, some rows in SAMPLES had different times in their sampleID's vs. their dateTimeSample columns. I believe we needed to

[2021-11-18 18:51] Randinotte opened #166 "sampleID time errors"
This issue is related to as sub-issue in #51, which encountered sampleIDs and dateTimeSample columns with mismatched times. The issue was closed with v 4.5.0, but when I attempted an update later, I found an error with 2019 limno sample sampleID times. See below for the explanation I provided via Slack:

In short, I'm attempting to add 2019 particulate data (poc, pon, pop) to the database. Because

[2021-11-18 18:52] Randinotte commented on #166
Initial comments from @ctsolomon:
My vote would be that we do a little bit of spot-checking to see if we pick up the problem elsewhere, and then proceed from there. A counter-argument is that having the sample time be wrong by one hour is not the end of the world; nonetheless I think scoping out the extent of the problem is probably a worthwhile thing to do. Hopefully we see that the problem seems

[2021-11-18 18:58] Randinotte commented on #166
To confirm whether these rows were affected by any sampleID manipulation by Kaija in GH51, I looked for a script or meta script in her MFE/Archives/Kaija Working Folder/r_code archive, but didn't find one related specifically to 51. It seems as if the Box folder didn't fully sync, because her documentation suggests that there should be "meta" scripts in that folder, but there aren't. I've emailed

[2021-11-18 19:01] Randinotte commented on #166
As far as work I've done on this issue, I've started a script, "sampleIDissues.R" that recreates the problem sampleIDs from my new particulate data, pulls the incorrect IDs from the db tables, and works through the fixes to the affected tables.

In discussion with @joneslabND and @ctsolomon in Long Lake Study Hall today, I'm going to do a "quick fix" to the 2019 rows by correcting the times in the

[2021-11-18 19:09] Randinotte commented on #166
It's possible that this issue is related to #143 as well. After the quick fix to these sampleIDs, check to see if Kaija's gh143_limnoProfilesSamples.R script works successfully. It's likely that she couldn't pull crew and weather information by sampleID if the db and log files had mismatched times.

[2021-11-22 13:52] ctsolomon commented on #150
Note that I have done a lot of work sorting through Long tag data that may be relevant to resolving this issue. My code on this is currently in 'canonical tags.R' on my hard drive.

[2021-11-22 18:49] Randinotte commented on #166
I corrected the sampleID's and dateTimeSample's for SAMPLES, CHLOROPHYLL, COLOR, and WATER_CHEM in the database update v 4.7.1 "Stay Thalweg From Me", 2021-11-22. I'm not going to mark it as a milestone because I'm not closing this issue. We don't know yet why these sampleID's were wrong in the first place or how it relates to #143.

[2021-11-23 00:05] Randinotte commented on #143
This issue was related to #166, and the update for that fix (4.7.1) corrected sampleID's so that the sample info (crew/weather/comments) could be grabbed from the logs as planned. All 2020 limno profile sampleID's are now listed in SAMPLES. This is resolved with v 4.8.1 "Var(ve)iants" 2021-11-22.

Edit: @joneslabND Are you able to close this issue? I'm neither the repo owner or issue author. Thank

[2021-11-24 14:57] #143 closed

[2021-12-01 00:31] Randinotte opened #167 "Limno entry tool doesn't supply inlet/outlet data to samplesIS.csv"
While trying to pull sample information for the first 2021 data update, I found that the Limno Entry Tool no longer generates rows in samplesIS.csv for inlet/outlet samples. There are some depthClass=="surface" samples generated, but they are at the site DeepHole. At first I assumed that these surface DeepHole samples were for the 0m PAR measurement (the only data point collected at depth 0m), but

[2021-12-01 17:19] Randinotte commented on #167
The siteName for whole lake staff gauges should be "WholeLake", but samplesIS.csv has assigned it as "DeepHole".

As is (incorrect):
WL_DeepHole_20210519_1103_**S**taff_0_Staff.Gauge.Sample.20140319

Should be (correct):
WL_WholeLake_20210519_1103_**s**taff_0_Staff.Gauge.Sample.20140319

Edited: "Staff" should be lowercase as well (all depthClasses are lowercase except PML)

[2021-12-03 18:44] Randinotte commented on #164
A few additions/edits:

[code]

Plus, the 2021 crew updates:
[CREW_updates2021.xlsx](https://github.com/MFEh2o/db/files/7651713/CREW_updates2021.xlsx)

[2021-12-06 20:22] cwbeltz commented on #157
fix completed locally. Waiting until after the Wednesday (12/08) meeting to update MFEdb.

[2021-12-06 20:47] cwbeltz commented on #163
@Randinotte is this an issue that is being corrected as part of your recent dateTimeSample effort? If not, I can tackle it.

[2021-12-06 21:48] cwbeltz commented on #157
check all tables for usage of the incorrect spelling ("hydrachnidae") in 'otu' and 'orderTax' columns.  Located one record for sample WL_NW_20200622_0000_sediment_1_zoobenthos.Sample.20110714 in BENTHIC_INVERTS. This should likely be corrected.

I can correct, but I did notice that the family is also listed as "hydrachnidae" and wanted to confirm that taxonomy should be changed to align with fixed

[2021-12-06 21:50] Randinotte commented on #163
@cwbeltz No, this won't be fixed with that recent work. It does look like an easy one to work on. FISH_SAMPLES (sample table) is related to FISH_INFO (data table). So if the sampleID changes in FISH_SAMPLES, all rows in FISH_INFO with that sampleID will also need to be edited. As explanation, fishing "sampling events" are listed as a single row in FISH_SAMPLES. All the fish from that sampling even

[2021-12-06 21:54] cwbeltz commented on #163
Thanks @Randinotte! It didn't look like your updated overlapped, but I wanted to confirm. I will add this to my update this week.

[2021-12-10 16:35] Randinotte opened #168 "Piezometer chemistry samples- bad metadataIDs in SAMPLES and WATER_CHEM"
Piezometer chemistry samples currently (pre-2021) have "Limno.Sample.20160505" as the metadataID portion of their sampleID string. This is incorrect because piezo chemistry samples are not covered by that metadataID. "Piezometer.SlugTests.ChemSamples.20180523" should replace it in the sampleID as well as the SAMPLES$metadataID column. WATER_CHEM$metadataID should reflect the analytical method used

[2021-12-11 01:10] #164 closed, assigned to nobody

[2021-12-13 12:49] cwbeltz commented on #157
@ctsolomon Should I change the sample information for WL_NW_20200622_0000_sediment_1_zoobenthos.Sample.20110714 to align with the suggestion in original issue? This would remove the family-level information and replace it with NA, among the other changes.

[2021-12-13 13:55] cwbeltz commented on #157
after looking a bit more into taxonomy, it looks like the orderSample=hemiptera (which may be accurate), which doesn't align well with the change I previously suggested based on original issue. I can certainly correct the spelling in the family and otu fields, but that will map inverts from two different orders to the same "otu" of "hydrachnidiae". I may need some additional guidance on taxonomy h

[2021-12-13 14:09] ctsolomon commented on #157
Thanks @cwbeltz. @aadey1, can you weigh in here quickly? See screen shot above from Chris: for invertID WL_NW_20200622_0000_sediment_1_zoobenthos.Sample.20110714_4, the orderSample is hemiptera but family and otu column suggest this is a water mite. Can you check photos or other records and confirm one way or the other? I suspect it's a water mite with wrong info in orderSample column. If it is a

[2021-12-13 17:31] cwbeltz commented on #157
@ctsolomon It also looks like the "hydrachnidae" spelling is in the FISH_DIETS dataset as well. Should I change these 8 records to the updated, "hydrachnidiae" spelling?
<img width="1524" alt="Screen Shot 2021-12-13 at 12 27 51 PM" src="https://user-images.githubusercontent.com/32374186/145860210-9c316de4-fdc4-44fe-af40-202e1fe32786.png">

[2021-12-13 17:43] aadey1 commented on #157
@ctsolomon and @cwbeltz it appears in the photo that this is a water mite that should match the original format that you were both discussing above. It should not have the order as hemiptera here.

[2021-12-13 17:44] cwbeltz commented on #157
Thanks @aadey1! Will make the change.

[2021-12-15 03:00] ctsolomon opened #169 "fishNum jumbled in FISH_INFO for a 2010 sample"
For sampleID=LO_WholeShoreline_20100624_1900_AN_MarkRecap.20120228, the fishNum entered in the database don't match those on the field data sheet. The data seem correct (with one exception, see below), it's just that the fish numbers don't match up. I'm attaching photos of the data sheets (2 pages), and also a spreadsheet showing how to match up the fishNum from the database with the fishNum from

[2021-12-15 15:32] cwbeltz commented on #163
@ctsolomon this does propagate to 21 records in FISH_OTOLITHS. Will fix those fishIDs as part of the larger fix of dateTimeSample.

[2021-12-15 21:20] cwbeltz commented on #157
Changes to OTU, BENTHIC_INVERTS, and FISH_DIETS approved by @ctsolomon and @joneslabND at our weekly meeting today (2021-12-15). Updated DB as part of v5.1.1 on 2021-12-15.

[2021-12-15 21:20] #157 closed

[2021-12-17 18:18] ctsolomon opened #170 "minor correction FISH_INFO"
For fishID=='WL_WholeShoreline_20160523_2040_AN_MarkRecap.20120228_26', a '1' is recorded in the mortality and removed columns. But this same fish (as indicated by the tag) is recaptured several more times, most recently 2018-07-02, when it was marked again as removed and an otolith was taken from it (so it was really dead at that point). Amaryllis looked back at the field data sheet for the 2016-

[2022-01-01 19:22] cwbeltz commented on #163
DB update this fix this issue approved by @ctsolomon at our weekly meeting on December 22.

This update touches on FISH_SAMPLE, FISH_INFO, and FISH_OTOLITHS.

1. FISH_SAMPLE
- 2 records modified
- Time altered by 2 hours in sampleID and dateTimeSample
- Tz set to “America/Chicago”

2. FISH_INFO
- 98 rows modified
- SampleID updated case_when()
- fishID updated via gsub on _DATE_TIME_

3. FISH_OTOL

[2022-01-01 20:43] cwbeltz commented on #163
@ctsolomon Additional issue encountered with fishIDs in FISH_DIETS while running relationalChecks. Those issues are now corrected using a similar fix as those for FISH_OTOLITHS. The corrections for FISH_DIETS are:

4. FISH_DIETS
30 rows modified
Get problematic fishIDs from FISH_INFO and then modify fishIDs in FISH_DIETS.
sampleID and dateTimeSample not included in FISH_DIETS table.
fishID updated

[2022-01-13 22:08] ctsolomon opened #171 "additional incorrect time FISH_SAMPLES"
This issue is similar to #163, but I'm making a new issue since I think #163 is largely wrapped up now.

As we were working through tag issues with the new 2021 data, @aadey1 and I discovered that the wrong date and time information are recorded for sampleID='WL_WholeShoreline_20210621_1759_AN_MarkRecap.20120228'. The correct dateSample, as recorded on the field data sheet, is 2021-07-26; dateTime

[2022-02-01 20:16] cwbeltz commented on #163
Update completed on 2022-01-10 as part of database update 5.2.2.

[2022-02-01 20:16] #163 closed, assigned to cwbeltz

[2022-02-02 18:56] Randinotte commented on #167
Update on " I would need to look through past samplesIS.csv's to see if a row is generated for each inlet/outlet even if the stream is not sampled because it's dry."

Answer: Yes, there should be a row generated, and the height gets recorded as "NA". In 2021 I incorrectly left those dry streams blank on the datasheets, so no sampleIS.csv rows were generated at all. I made this correction for my up

[2022-02-02 19:08] Randinotte commented on #158
The main issue, creating a UNITS table for the sensorDB was completed by Kaija in MFEsensordb_20210517 (5.2.0). This update had some issues, such as not being properly uploaded to Box. I fixed it while working on 6.0.0.

The second issue she raised, that column headers often include the units, was not addressed. It could be, but I'd hardly call it urgent.

[2022-02-02 19:11] Randinotte commented on #138
[sites_needLatLong.csv](https://github.com/MFEh2o/db/files/7989400/sites_needLatLong.csv)

These are the sites that I was able to update in 2021. More work could be done in 2022 to get GPS locations for the remaining rows, particularly for Long Lake benthic inverts sites.

We should also check how many sites have duplicate lat/longs. I noticed that some piezometers just have the lat/longs of their

[2022-02-02 19:23] Randinotte commented on #167
My fixes to use the sampleIS.csv from 2021 "as is" are in my script /workup2021/Staff Gauges/compileStaff_gauges_20211228.R (will put on box soon in my archive).

[2022-02-02 19:27] Randinotte commented on #167
The compileStaff_gauges_YYYYMMDD.R script is capable of this, but it really seems like a job for the limno entry tool: Staff heights (WholeLake staffs and stream staffs) are not supplied in an output file. They are listed as depthTop = 0 and depthBottom = 0 in samplesIS.csv. To get them, I had to write a for loop to run through all the sampleSheets (digitized datasheets) and pull the staff heights

[2022-02-02 19:33] Randinotte commented on #56
I emailed Cal and David today (2022-02-02) to ask for 2021 PE/PA temp and DO data.

[2022-02-03 18:54] Randinotte commented on #56
Dat Ha replied with 2021 data and I saved it with the 19-20 data in the folder linked above. Dat is Cascade's current tech, and Cal is still working on the project. dh3dv@virginia.edu

[2022-02-03 20:02] Randinotte commented on #21
An undergrad, Katherine Franz, worked on evaluating the entire LIMNO_PROFILES table for research credit. We made slow progress, so we weren't able to implement the changes. She has code started for many categories of fixes, but someone tackling this project would be wise to check it to make sure that it comes together logically. In short, she generated lake/sensor plots (eg. WL_DOmgL_2019) to visu

[2022-02-21 19:54] cwbeltz commented on #171
closed with v 5.3.1.

[2022-02-21 19:54] #171 closed, assigned to cwbeltz

[2022-02-22 14:24] cwbeltz opened #172 "minor issues with version history and update metadata"
There are two minor issues to correct with two separate metadata files:

1) version history for v 5.3.1 (from 2022-02-21) that I uploaded yesterday does not have the correct description for the update. Currently it reads, "Corrected dateTimeSample by 2 hours for 2 sampleIDs and associated fishIDs in FISH_SAMPLES, FISH_INFO, FISH_OTOLITHS, and FISH_DIETS." This statement is from the previous fishDa

[2022-02-22 16:55] cwbeltz commented on #172
closed with v5.3.2

[2022-02-22 16:55] #172 closed, assigned to cwbeltz

[2022-02-22 17:07] cwbeltz commented on #152
From weekly meeting on 2022-02-02: For the single 2019 dome noted above (FE-25-20190603), @ctsolomon and @joneslabND suggested adding a note in the comment section of the deploy log that this dome did not exist/was pulled early based on comment in [BenthicDomesLog2019.xlsx](https://app.box.com/file/831001448998) that “One dome (unknown maybe 40% or 60%) pulled up accidentally on 2019-06-06 around

[2022-02-23 16:45] Randinotte commented on #161
Update for @cwbeltz's notes: To get the ball rolling for Camille and Stuart to fix the fish entry tool, I removed all projectID 41 data (Jones Lake Experiment) from FISH_SAMPLES and FISH_DATA. This was accomplished in v.5.2.0. The data was not replaced because the team was just getting started on entry tool fixes. Once the tools are working, data for the whole project needs to be added.

[2022-02-23 19:02] cwbeltz commented on #169
@ctsolomon @joneslabND This issue was just discussed at 2022-02-23 meeting. The following changes will be made:
1a) jumbled fish numbers will be corrected using the Excel worksheet provided in the original issue.
1b) changes to fish numbers will then be propagated into the rest of the fish database as needed.
2) pitApply number will be removed and I will note in the update metadata that pit tags w

[2022-02-23 19:46] cwbeltz commented on #152
From weekly meeting on 2022-02-23:
1) For WL 2012 deployIDs, append replicate letter to end of deployID.
2) For EL August 2012 deployIDs, append replicate letter to end of deployID.

Continue to look for June 2012 EL data. Confirm 2012 light levels of only 25%, by checking 2013 EL data for 5%, 25%, and ~40%(2x).

[2022-02-28 20:07] cwbeltz opened #173 "add October 2020 fish tag data and correct 3 tags"
I received the 10/2020 fist tag data from @aadey1. Data are ready to be uploaded into the database, after a couple of errors are handled. There were three issues and two flags from the data entry tool:
1) 20201005 FE fish 3 tag ID is entered as 900F67000152294.
2) 20201005 WL fish 8 tag ID is entered as 999F000001004828.
3) The other was that the fish moved between basins.

Solutions to fix these

[2022-03-01 17:03] cwbeltz opened #174 "process and add 2021 BENTHIC_INVERT data"
2021 longZoobenthos data has been entered and is ready to be added to the BENTHIC_INVERT data in the MFEdb. Kaija Gahm as a script used to process and add the 2019/2020 data which is the starting point for processing the 2021 data. Find Kaija's script [here](https://app.box.com/file/761545917348) on Box.

[2022-03-01 17:15] cwbeltz commented on #174
[GH#90](https://github.com/MFEh2o/db/issues/90) and [GH#37](https://github.com/MFEh2o/db/issues/37) have comments from Kaija's previous update of 2019/2020 data that may be helpful resources.

[2022-03-03 17:36] cwbeltz commented on #170
addressed as part of update v5.3.3.

[2022-03-03 17:36] #170 closed, assigned to cwbeltz

[2022-03-03 17:37] cwbeltz commented on #169
addressed as part of update to v5.3.3.

[2022-03-03 17:37] #169 closed, assigned to cwbeltz

[2022-03-08 18:23] cwbeltz opened #175 "add 2021 zooplankton data to database"
2021 data for zooplankton counts, lengths, and sub-sampling available for upload into MFEdb.

[2022-03-14 16:23] cwbeltz commented on #174
At 2022-03-09 meeting, we decided to remove dry_mass values from BENTHIC_INVERTS. It be calculated during any analysis using whichever coefficients is preferred. Previous dry mass values are archived in older database versions.

[2022-03-17 17:01] joneslabND opened #176 "BENTHIC_INVERTS - trayNumber is repeated for a small subset of trays"
It appears based on working with the physical trays and looking at the database that between the end of 2013 and beginning of 2014 we ended up repeating ~4 tray numbers (T186-T189). The duplicates are physically separated and so the samples are ok, but we'll have to change some of the tray numbers to 2013-T186 or 2014-T186 to fix this I think. Also, looks like maybe we have two T407 and no T408, b

[2022-03-18 18:47] joneslabND opened #177 "ZOOPS_COEFFICIENTS - taxa should be all lowercase to match taxa column in other zoop tables"
Easy one. Just need to change the taxa names in ZOOPS_COEFFICIENTS to all lower case

[2022-03-27 16:50] cwbeltz commented on #152
2012-2020 BGPP data has been uploaded to the sensor database with update to 6.2.0.

[2022-03-27 16:50] #152 closed

[2022-03-27 16:53] cwbeltz commented on #175
zooplankton data added as part of MFEdb update to v5.5.1.

[2022-03-27 16:53] #175 closed, assigned to cwbeltz

[2022-03-27 22:02] cwbeltz commented on #174
2021 BENTHIC_INVERT data was partially added during the v5.4.1 MFEdb update, with some corrections to metadataIDs in v5.5.2.

2021 Crazy Chiro data is the remaining outstanding BENTHIC_INVERT data from 2021.

[2022-03-27 22:05] cwbeltz commented on #173
issues corrected as part of update to MFEdb v5.5.2.

[2022-03-27 22:05] #173 closed, assigned to cwbeltz

[2022-03-30 15:12] cwbeltz commented on #174
As part of MFEdb update to v5.5.2, metdataIDs were corrected to "zoobenthosLengths.20110519" for 2021 data uploaded in v5.4.1. BENTHIC_INVERT_SAMPLES and sampleIDs remain the same. This partially resolves GH#174.

[2022-03-30 15:13] cwbeltz commented on #174
2021 crazy chiro data uploaded to BENTHIC_INVERTS and BENTHIC_INVERT_SAMPLES as part of update to v5.6.0. This resolves this issue.

[2022-03-30 15:13] #174 closed, assigned to cwbeltz

[2022-04-05 19:29] cwbeltz commented on #161
Cleaned and corrected Jones lake data uploaded along with data from project 42 (LMB Hook Memory).

[2022-04-05 19:29] #161 closed, assigned to cwbeltz

[2022-04-20 15:46] ctsolomon opened #178 "sensorDB BENTHIC_DOME_CORR and BENTHIC_DOME_DEPLOY_LOG - column formatting etc"
The columns in these tables (and possibly in related tables like BENTHIC_DOME_RAW, I haven't looked yet) could use some tidying in the way that they are stored and the way that sensordbTable() reads them in to R. Here are issues I have seen so far as I have started to work with these tables:

1. In BENTHIC_DOME_CORR and BENTHIC_DOME_DEPLOY_LOG, some columns that should be numeric are read into R a

[2022-04-20 15:53] ctsolomon commented on #178
Also:

4. Date/time columns in the deployLog table (including dateTimeDeploy, dateTimeRetrieve, and the four ...SatBag columns) are read in to R as character rather than as POSIX

[2022-04-27 20:15] joneslabND commented on #141
Some (perhaps many) of these are missing length measurements and therefore we may not be able to calculate abundance. I'm not sure if the measurements were never made or if they can be found. I did find some 2016 lengths, but the dates don't match all of these dates...

[2022-05-04 16:57] cwbeltz commented on #178
All corrections are complete and uploaded to Box as part of the 6.3.1 update to the sensorDB. 2 and 3 were fixed within the sensorDB tables, while 1 and 4 were corrected through updating the sensordbTable() function in the MFEutilities package ([PR#13](https://github.com/MFEh2o/MFEUtilities/commit/f45ed61efc0429e92e3aa3390cd4a2938778769c)).

[2022-05-04 16:57] #178 closed, assigned to cwbeltz

[2022-06-01 16:39] camillemosley opened #179 "dateTime offset in sensor db HOBO_PRESS_RAW"
There may be an offset or something in 2021 atmospheric pressure data from the AptA location.

I was cleaning files off the UNDERC lab computer, and found one stored on the desktop called 'UNDERC_Atm'. This seems to have atmospheric pressure readings from 2021 (May through mid-October). Stuart says that Randi asked Matt McClelland to download the pressure sensor that sits up by the lab at some poi

[2022-06-27 17:42] cwbeltz commented on #177
No fix needed. All taxa lowercase in all ZOOPS tables as of 5.7.0.

[2022-06-27 17:42] #177 closed, assigned to cwbeltz

[2022-07-11 15:24] cwbeltz commented on #176
The physical bug trays referenced here have not yet been located. @ctsolomon is 100% confident they are not at the Cary Institute and looked at all trays there in late June 2022. @joneslabND has also completed one look at UNDERC in May/June 2022 and was not able to locate them there. @ctsolomon suggested one final thorough look at UNDERC, though this has not occurred as of now.

[2022-07-11 15:41] cwbeltz opened #180 "MFE Database Table Descriptions -- update to Figshare"
The MFEdb is uploaded in it current form to figshare each year and accessible [here](https://caryinstitute.figshare.com/articles/dataset/MFE_database_Data_from_ecosystem_ecology_research_by_Jones_Solomon_and_collaborators_on_the_ecology_and_biogeochemistry_of_lakes_and_lake_organisms_in_the_Upper_Midwest_USA/7438598).

At least one new dataset, with multiple tables, will be added in the near futur

[2022-07-11 18:08] cwbeltz opened #181 "fishTag fixes -- pit tags, canonical tag numbers, truncation, and more"
The fishTag fixes discussed in this issue were started by @ctsolomon in two scripts `adult abundance.R` and `canonical tags.R`. These scripts attempt to correct issues with pit tags across the entirety of the fish dataset. These resolve issues with truncated or partially-recorded tags, switching a tag number from recapture to apply, etc.

These scripts were originally written using the 2021-12-02

[2022-07-12 13:16] ctsolomon commented on #176
Slight clarification: no bug whatsoever are currently at Cary.

[2022-07-13 19:54] cwbeltz commented on #180
The RMD file has been updated to included the table descriptions for the soon to uploaded (within next week) data from Dane W.'s interview dataset. The RMD has been uploaded today (2022-07-13) and is the [5th version](https://app.box.com/file/725962983095) of the dbTableDescriptions.Rmd file.

[2022-07-14 20:17] cwbeltz opened #182 "ZOOPS fixes -- Project 16 duplicates"
I identified 35 duplicate rows within the ZOOPS dataset within Project 16. These were located while addressing corrections and duplicates noted by @joneslabND in his script to clean up the ZOOPS tables. These 35 rows could not be addressed as they need to have field data sheets checked.

These rows were identified within the ZOOPS_SUBSAMPLE table using:

proj16_toInspect <- zs %>%
  filter(project

[2022-07-15 18:48] cwbeltz opened #183 "ZOOPS fixes -- general"
The ZOOPS dataset has some duplicate records identified by @joneslabND. I've worked through a script that cleans many of the initial issues identified by SJ. I've recently fixed a couple of issues and added comments after SJ reviewed that script. These fixes are ready to be applied and uploaded to the MFE database pending final approval. The initial script I received from Stuart, supporting docume

[2022-07-15 18:54] cwbeltz commented on #182
This issue is connected to #183. The code referenced above can be found on [Box in my personal archive folder](https://app.box.com/folder/167038690293) at the end of the script named gh183_ZOOPS_discreteFixes.R.

[2022-07-15 19:03] cwbeltz opened #184 "FishScapes: Lake Association interviews (data upload)"
Dane W. and I have been working on prepping his 2019 data from the FishScapes project for upload as new tables to the MFE database. This includes making adjustments to formats, naming conventions, etc. suggested by @ctsolomon beginning in mid-June 2022. These updates are nearing completion and are tentatively ready to be uploaded to the database pending resolution of two issues and approval from C

[2022-07-15 21:21] ctsolomon commented on #184
I responded to your email Chris about the Big Lake issue. Short version: it looks to me like the LAKES table in the current database gives the WBIC for one Big Lake and the lat/long for a different Big Lake - so we need to sort this out and then figure out whether Dane's is a new one or not. I suspect that we're only talking about one Big Lake which got sampled for FishScapes, but I'm not positive

[2022-07-28 21:21] ctsolomon commented on #184
One additional issue:

3. We realized that LAKE_ORG_INTERVIEW includes information in the raw notes columns (such as financial data, group conflict, etc.) that we promised not to publicize without anonymizing or aggregating. So this table should either be posted behind some kind of permissions, or else held back from the database. For now we will hold it back from the database (a copy is on my har

[2022-08-05 20:57] ctsolomon opened #185 "FISH_SAMPLES minor fix to gear"
For sampleID=='CP_WholeShoreline_20180816_0100_BE_hyperstability.20180521':

Gear is recorded as BE, effortUnits as angler_hours.

This was for Camp hyperstability, so could have been shocking or angling. But the fact that nAnglers is also recorded suggests that it was actually an angling sample. Checking field data sheet may resolve confusion.

[2022-08-05 20:58] ctsolomon opened #186 "FISH_SAMPLES minor fix to effort units"
There are 15 rows with gear=='BS' (beach seine), for which effortUnits are NA in 14 cases and trap_hours in 1 case. Should change all effort_units either to seine_pulls (if that seems reasonable based on the metadata) or else to NA.

[2022-08-05 20:58] ctsolomon opened #187 "OTU minor fix for white sucker"
Species column for otu=='white_sucker' is currently 'unknown' or something like that, should presumably be 'commersoni'.

[2022-08-08 14:35] ctsolomon commented on #184
Resolution of the Big Lake mystery:

I checked SAMPLES and FISH_SAMPLES, and the only samples in the database associated with Big Lake (lakeID=='BG') are from the bluegill survey in 2016-2017. I emailed Alex Ross (and he looped Colin Dassow in to the conversation), asking if he remembered which Big Lake they sampled for the bluegill work. He said that he was nearly certain that the one they sample

[2022-08-19 17:36] ctsolomon commented on #184
@cwbeltz, a couple more notes about the Big Lake mystery and uploading Dane's data, which I discovered as I was working with these data just now:

- It looks like the LAKES table that was going to get uploaded as part of the Dane update (or at least the version of it that I have, named 'LAKES.20220715.csv') has an extra column at the end, 'maxDdepth', in addition to the 'maxDepth' column.
- It loo

[2022-10-04 17:54] ctsolomon commented on #138
Also note that some sites have a lat/long entered but not with sufficient number of digits. For instance, at least some of the piezometer sites (such as EL_P9, WL_P11, possibly others) have lat and long in decimal degrees with only two decimal places. Possible that locations might be recorded somewhere else with more decimal places; also looks like the UTM data might have more precision. Should ge